<div class="blog_wrap clearfix">

  <div class="blog_box clearfix">
    <h2>사료</h2>

    <% @latest_feeds.each do |feed| %>
      <div class="blog_hero">
        <%= link_to image_tag(feed.f_image, alt: feed.f_title, title: feed.f_title), feed %>
        <div class="inner">
          <h3><%= link_to feed.f_title, feed %></h3>
          <span>UPDATED DECEMBER 16, 2021</span>
          <p><%= feed.f_description %></p>
        </div>
        <div class="more"><a href="/feeds/<%= feed.id %>">더 읽기</a></div> <!-- a tag 주소는 컨텐츠 페이지로 연결하기 -->
        <span><%= link_to 'Edit', edit_feed_path(feed) %></span>
        <span><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>

    <div class="blog_sub clearfix">

      <% @except_first_feeds.each do |feed| %>
        <a href="#n">
          <div class="blog_card clearfix">
            <div class="img_box">
              <%= link_to image_tag(feed.f_image, alt: feed.f_title, title: feed.f_title), feed %>
            </div>
            <div class="inner">
              <h3><%= link_to feed.f_title, feed %></h3>
              <span>UPDATED DECEMBER 16, 2021</span>
            </div>
            <div class="sub_more"><a href="/feeds/<%= feed.id %>">더 읽기</a></div>
            <span><%= link_to 'Edit', edit_feed_path(feed) %></span>
          <span><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>

        </a>
      <% end %>

     <!--  <div class="blog_card clearfix">
        <div class="img_box">
          <img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="inner">
          <h3>Title</h3>
          <span>UPDATED DECEMBER 16, 2021</span>
        </div>
      </div>

      <div class="blog_card clearfix">
        <div class="img_box">
          <img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="inner">
          <h3>Title</h3>
          <span>UPDATED DECEMBER 16, 2021</span>
        </div>
      </div> -->

    </div>

  </div><!-- blog_box -->
  
</div><!-- blog_wrap -->