<br>
<div class="detail_wrap clearfix">
  <p class="info_title">상세정보</p>
  
  <div class="detail_box detail_nutri clearfix">
    <div class="left comm">
      <ul>
        <li>사료 타입</li>
        <li>급여 대상</li>
        <li>브랜드</li>
        <li>제조 국가</li>
        <li>제1주 원료</li>
        <li class="two_line">효과</li>
        <li>상태</li>
        <li>알레르기</li>
      </ul>
    </div>
    <div class="right comm">
      <ul>
        <li>
          <% if @jibsa.j_option_01 == 101 %>
            <em>건식사료</em>
          <% elsif @jibsa.j_option_01 == 102 %>
            <em>습식사료</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_02 == 201 %>
            <em>키튼(1세 미만)</em>
          <% elsif @jibsa.j_option_02 == 202 %>
            <em>어덜트(1세 ~ 7세)</em>
          <% elsif @jibsa.j_option_02 == 203 %>
            <em>시니어(7세 이상)</em>
          <% elsif @jibsa.j_option_02 == 204 %>
            <em>전연령용</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_06 == 801 %>
            <em>로얄캐닌</em>
          <% elsif @jibsa.j_option_06 == 802 %>
            <em>캐츠랑</em>
          <% elsif @jibsa.j_option_06 == 803 %>
            <em>ANF</em>
          <% elsif @jibsa.j_option_06 == 804 %>
            <em>뉴트리나</em>
            <% elsif @jibsa.j_option_06 == 805 %>
            <em>이즈칸</em>
          <% elsif @jibsa.j_option_06 == 806 %>
            <em>네츄럴코어</em>
          <% elsif @jibsa.j_option_06 == 807 %>
            <em>위스카스</em>
            <% elsif @jibsa.j_option_06 == 808 %>
            <em>퓨리나</em>
          <% elsif @jibsa.j_option_06 == 809 %>
            <em>프로베스트</em>
          <% elsif @jibsa.j_option_06 == 810 %>
            <em>오리젠</em>
            <% elsif @jibsa.j_option_06 == 811 %>
            <em>네추럴밸런스</em>
          <% elsif @jibsa.j_option_06 == 812 %>
            <em>나우프레쉬</em>
          <% elsif @jibsa.j_option_06 == 813 %>
            <em>대한사료</em>
            <% elsif @jibsa.j_option_06 == 814 %>
            <em>웰츠</em>
          <% elsif @jibsa.j_option_06 == 815 %>
            <em>뉴트리웰</em>
          <% elsif @jibsa.j_option_06 == 816 %>
            <em>퓨어비타</em>
            <% elsif @jibsa.j_option_06 == 817 %>
            <em>한끼뚝딱</em>
          <% elsif @jibsa.j_option_06 == 818 %>
            <em>세라피드</em>
          <% elsif @jibsa.j_option_06 == 819 %>
            <em>뉴트리플랜</em>
            <% elsif @jibsa.j_option_06 == 820 %>
            <em>사조동아원</em>
          <% elsif @jibsa.j_option_06 == 821 %>
            <em>후새</em>
          <% elsif @jibsa.j_option_06 == 822 %>
            <em>원더캐츠</em>
          <% elsif @jibsa.j_option_06 == 823 %>
            <em>헤일로</em>
          <% elsif @jibsa.j_option_06 == 824 %>
            <em>프리스키</em>
          <% elsif @jibsa.j_option_06 == 825 %>
            <em>트로벳</em>
          <% elsif @jibsa.j_option_06 == 826 %>
            <em>탐사</em>
          <% elsif @jibsa.j_option_06 == 827 %>
            <em>위시본</em>
          <% elsif @jibsa.j_option_06 == 828 %>
            <em>웰니스</em>
          <% elsif @jibsa.j_option_06 == 829 %>
            <em>치킨수프 클래식</em>
          <% elsif @jibsa.j_option_06 == 830 %>
            <em>슈슈</em>
          <% elsif @jibsa.j_option_06 == 831 %>
            <em>올가밀 캣35</em>
          <% elsif @jibsa.j_option_06 == 832 %>
            <em>마즈</em>
          <% elsif @jibsa.j_option_06 == 833 %>
            <em>어스본홀리스틱</em>
          <% elsif @jibsa.j_option_06 == 834 %>
            <em>이퀼리브리오</em>
          <% elsif @jibsa.j_option_06 == 835 %>
            <em>뉴웨이브</em>
          <% elsif @jibsa.j_option_06 == 836 %>
            <em>아카나</em>
          <% elsif @jibsa.j_option_06 == 837 %>
            <em>풀무원</em>
          <% elsif @jibsa.j_option_06 == 838 %>
            <em>풀무원 아미오</em>
          <% elsif @jibsa.j_option_06 == 839 %>
            <em>밥이보약</em>
          <% elsif @jibsa.j_option_06 == 840 %>
            <em>하림더리얼</em>
          <% elsif @jibsa.j_option_06 == 841 %>
            <em>캣츠맘</em>
          <% elsif @jibsa.j_option_06 == 842 %>
            <em>네츄럴랩</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_03 == 301 %>
            <em>한국</em>
          <% elsif @jibsa.j_option_03 == 302 %>
            <em>미국</em>
          <% elsif @jibsa.j_option_03 == 303 %>
            <em>캐나다</em>
          <% elsif @jibsa.j_option_03 == 304 %>
            <em>독일</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_07 == 701 %>
            <em>소</em>
          <% elsif @jibsa.j_option_07 == 702 %>
            <em>돼지</em>
          <% elsif @jibsa.j_option_07 == 703 %>
            <em>닭 (뼈바른 닭고기)</em>
          <% elsif @jibsa.j_option_07 == 704 %>
            <em>오리</em>
          <% elsif @jibsa.j_option_07 == 705 %>
            <em>양</em>
          <% elsif @jibsa.j_option_07 == 706 %>
            <em>생선</em>
          <% elsif @jibsa.j_option_07 == 707 %>
            <em>칠면조</em>
          <% elsif @jibsa.j_option_07 == 708 %>
            <em>사슴</em>
          <% elsif @jibsa.j_option_07 == 709 %>
            <em>탈수가금육</em>
          <% elsif @jibsa.j_option_07 == 710 %>
            <em>곡물</em>
          <% elsif @jibsa.j_option_07 == 711 %>
            <em>야채</em>
          <% end %>
        </li>
        <li class="two_line">
          <% if @jibsa.j_spare_01.present? %>
            <em>면역력</em>
          <% end %>
          <% if @jibsa.j_spare_02.present? %>
            <em>헤어볼</em>
          <% end %>
          <% if @jibsa.j_spare_03.present? %>
            <em>체중조절</em>
          <% end %>
          <% if @jibsa.j_spare_04.present? %>
            <em>소화기능&변냄새</em>
          <% end %>
          <% if @jibsa.j_spare_05.present? %>
            <em>피부&모질 개선</em>
          <% end %>
          <% if @jibsa.j_spare_06.present? %>
            <em>뼈&관절 건강</em>
          <% end %>
          <% if @jibsa.j_spare_07.present? %>
            <em>치석&구강 건강</em>
          <% end %>
          <% if @jibsa.j_spare_08.present? %>
            <em>눈물&눈 건강</em>
          <% end %>
          <% if @jibsa.j_spare_09.present? %>
            <em>비뇨계</em>
          <% end %>
          <% if @jibsa.j_spare_10.present? %>
            <em>신장&심부전</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_04 == 401 %>
            <em>임신&출산&수유</em>
          <% elsif @jibsa.j_option_04 == 402 %>
            <em>중성화 수술</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_05 == 501 %>
            <em>LID</em>
          <% elsif @jibsa.j_option_05 == 502 %>
            <em>가수분해단백질</em>
          <% elsif @jibsa.j_option_05 == 503 %>
            <em>그레인프리</em>
          <% elsif @jibsa.j_option_05 == 504 %>
            <em>글루틴프리</em>
          <% end %>
        </li>
      </ul>
    </div>
  </div> 
  <br><br><br>
  <div class="nutrition_box detail_nutri clearfix">

    <p class="info_title">중요 성분비율</p>
    <div class="important clearfix">
      <div class="left comm">
         <ul>
          <li>성분</li>
          <li>조단백질</li>
          <li>조지방</li>
          <li>칼슘</li>
          <li>인</li>
          <!-- <li>조회분</li>
          <li>조섬유</li> -->
          <li>수분</li>
        </ul>
      </div>

      <div class="mid comm">
        <ul>
          <li>수분 포함</li>
          <li>35%</li>
          <li>26%</li>
          <li>1.29%</li>
          <li>1.09%</li>
          <!-- <li>7.83%</li>
          <li>2.01%</li> -->
          <li>10%</li>
        </ul>
      </div>

      <div class="right comm">
        <ul>
          <li>수분 제거</li>
          <li>
            <% dm_protein = 0 %>
            <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_protein, precision: 2) %>
          </li>
          <li>
            <% dm_fat = 0 %>
            <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_fat, precision: 2) %>
          </li>
          <li>
            <% dm_calcium = 0 %>
            <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_calcium, precision: 2) %>
          </li>
          <li>
            <% dm_phosphorus = 0 %>
            <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_phosphorus, precision: 2) %>
          </li>
          <!-- <li>1.29%</li>
          <li>1.09%</li> -->
          <li>0%</li>
        </ul>
      </div>
    </div>

    <div class="carbo_ratio ">
      <h3>
        탄수화물 함류량:
        <% carbo_blance = 0 %>
        <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_17.to_f - @jibsa.j_option_18.to_f %>
        <span><%= number_to_percentage(carbo_blance, precision: 2) %></span>
      </h3>
    </div>

    <div class="kcal_balnace">
      <h3>100g당 PFC 칼로리</h3>
      <div class="clearfix">
        <p>
          조단백질
          <% protein_kcal = 0 %>
          <% protein_kcal =  @jibsa.j_option_11.to_f * 3.5 %>
          <span><%= number_with_precision(protein_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          조지방
          <% fat_kcal = 0 %>
          <% fat_kcal =  @jibsa.j_option_14.to_f * 8.5 %>
          <span><%= number_with_precision(fat_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          탄수화물
          <% carbo_kcal = 0 %>
          <% carbo_kcal =  carbo_blance * 3.5 %>
          <span><%= number_with_precision(carbo_kcal, precision: 2) %> kcal</span>
        </p>
      </div>
      <h4>
        총 칼로리:
        <% total_kcal = 0 %>
        <% total_kcal = protein_kcal + fat_kcal + carbo_kcal %>
        <span><%= number_with_precision(total_kcal, precision: 2) %> kcal</span>
      </h4>
    </div>

    <div class="nutrient_balnace">
      <h3>100g당 PFC 비율</h3>
      <div class="clearfix">
        <p>
          조단백
          <% protien_nutrient = 0 %>
          <% protien_nutrient = (protein_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(protien_nutrient, precision: 2) %></span>
        </p>
        <p>
          조지방
          <% fat_nutrient = 0 %>
          <% fat_nutrient = (fat_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(fat_nutrient, precision: 2) %></span>
        </p>
        <p>
          탄수화물
          <% carbo_nutrient = 0 %>
          <% carbo_nutrient = (carbo_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(carbo_nutrient, precision: 2) %></span>
        </p>
      </div>
    </div>
  </div>


</div>
<br>
<br>
