<%= simple_form_for(@jibsa) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <%= f.input :j_image, label: "상품 이미지" %>
      <%= f.input :j_title, label: "상품 이름" %>
      <%= f.input :j_friendly_id, label: "Friendly_id [어퍼스트로피, 쉼표, 따옴표 제거]" %>
      <%= f.input :j_link, label: "상품 URL" %>
      <!-- <%= f.input :j_description, label: "상품 설명" %> -->
      <%= f.input :j_source, label: "판매 사이트" %>
      <%= f.input :j_hashtag, label: "해시태그" %>
      <!-- <%= f.input :j_key_word, label: "관련검색어" %> -->

      <div class="pricing clearfix">
        <%= f.input :j_is_price, label: "현재 가격" %>
        <%= f.input :j_was_price, label: "세일전 가격" %>
        <%= f.input :j_pct, label: "할인률" %>
        <%= f.input :j_review_count, label: "리뷰 수" %>
        <div class="star_rating">
          <%= f.input :j_spare_56, label: "별점" %>
        </div>
      </div>

      <br><br><br>
      <div class="pricing clearfix">
        <%= f.input :j_option_01, label: "사료타입" %>
        <%= f.input :j_option_02, label: "급여대상" %>
        <%= f.input :j_option_03, label: "제조국가" %>
        <%= f.input :j_option_04, label: "상태" %>
        <%= f.input :j_option_05, label: "알레르기" %>
        <%= f.input :j_option_06, label: "브랜드" %>
        <%= f.input :j_option_07, label: "제1주 원료" %>
      </div>

      <br><br><br>
      <div class="pricing clearfix">
        <%= f.input :j_spare_01, label: "면역력" %>
        <%= f.input :j_spare_02, label: "헤어볼" %>
        <%= f.input :j_spare_03, label: "다이어트" %>
        <%= f.input :j_spare_04, label: "소화기능&변냄새" %>
        <%= f.input :j_spare_05, label: "피부&모질 개선" %>
        <%= f.input :j_spare_06, label: "벼&관절 건강" %>
        <%= f.input :j_spare_07, label: "치석&구강 건강" %>
        <%= f.input :j_spare_08, label: "눈물&눈 건강" %>
        <%= f.input :j_spare_09, label: "비뇨계" %>
        <%= f.input :j_spare_10, label: "신장&심부전" %>
      </div>

      <br><br><br>
      <div class="pricing clearfix">
        <%= f.input :j_option_11, label: "조단백질" %>
        <%= f.input :j_option_14, label: "조지방" %>
        <%= f.input :j_option_15, label: "칼슘" %>
        <%= f.input :j_option_16, label: "인" %>
        <%= f.input :j_option_17, label: "조섬유" %>
        <%= f.input :j_option_18, label: "조회분" %>
        <%= f.input :j_option_12, label: "수분" %>
        <%= f.input :j_option_13, label: "칼로리" %>
        <%= f.input :j_option_19, label: "중량(kg)" %>
        
        
      </div>

      <br><br><br>
      <div class="pricing clearfix">
        <%= f.input :j_spare_31, label: "필터" %>
        
      </div>




    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

<% end %>
