
<br>
<div class="detail_wrap clearfix">
  

  <div class="detail_box detail_nutri clearfix">

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">제조국가</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">원산지</p>
      </div>
      <div class="bi_box">        
        <% if @jibsa.j_option_01 == 101 %>
          <span>건식사료</span>
        <% elsif @jibsa.j_option_01 == 102 %>
          <span>습식사료</span>
        <% elsif @jibsa.j_option_01 == 103 %>
          <span>동결건조</span>
        <% end %>
        <p class="info_p">사료타입</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_ingredient' %>
        <p class="info_p">제1주 원료</p>
      </div>
    </div>

    
    <% dm_protein = 0 %>
    <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>

    <% dm_fat = 0 %>
    <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_calcium = 0 %>
    <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_phosphorus = 0 %>
    <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
    

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <% if dm_protein > 26 && dm_fat > 9 && dm_calcium > 0.6 && dm_phosphorus > 0.5 %>
          <span>충족</span>
        <% else %>
          <span>불충족</span>
        <% end %>
        <p class="info_p">AAFCO 기준</p>
      </div>
      <div class="bi_box">        
        <span>있음</span>
        <p class="info_p">생산 공장</p>
      </div>
      <div class="bi_box">        
        <span>있음</span>
        <p class="info_p">자체 연구소</p>
      </div>
      <div class="bi_box">        
        <span>없음</span>
        <p class="info_p">리콜이력</p>
      </div>
    </div>


    <div class="basic_infomation">
      <div class="infom_box">
        <span>제조 국가</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>원산지</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>급여 대상</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>사료 타입</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>주 단백질원</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>그레인프리</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>자체 생산시설</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>자체 연구소</span>
        <p>한국</p>
      </div>

      <div class="infom_box">
        <span>리콜 이력</span>
        <p>한국</p>
      </div>
    </div>

    

    <!-- <p class="info_title">상세정보</p> -->
    <br />
  
    <div class="expection_effects">
      <h4>기대 효과</h4>
      <%= render 'jibsas/codes_functional' %>
    </div>

  </div><!-- detail_box -->

  <br><br>

  <div class="nutrition_box detail_nutri clearfix">


    
    <div class="nutrition_comparison clearfix">
      <div class="main-container">
        
            <div class="title_box">
              <h2>영양소 분석</h2>
            </div> 

            <div class="graph_wrap">   
              <h2>Horizontal Bar Chart</h2>
              <div class="barGraph">
                <ul class="graph">
                  <span class="graph-barBack">
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_11 %>">
                      <span class="graph-legend">조단백질</span>
                    </li>
                  </span>  

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_14 %>">
                      <span class="graph-legend">조지방</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_18 %>">
                      <span class="graph-legend">조회분</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_17 %>">
                      <span class="graph-legend">조섬유</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_15 %>">
                      <span class="graph-legend">칼슘</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_16 %>">
                      <span class="graph-legend">인</span>
                    </li>
                  </span>      

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_12 %>">
                      <span class="graph-legend">수분</span>
                    </li>
                  </span>      
                </ul>
              </div>
            </div><!-- graph_wrap -->

            <div>
              <% dm_ca_phos_ratio = 0 %>
              <% dm_ca_phos_ratio = dm_phosphorus / dm_calcium %>
              <% carbo_blance = 0 %>
              <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_17.to_f - @jibsa.j_option_18.to_f %>
              <div class="ratio_box clearfix">
                <div class="left_ratio comm_ratio">
                  <h3>칼슘 인 비율</h3>
                  <p>1 : <%= number_with_precision(dm_ca_phos_ratio, precision: 2) %></p>
                </div>
                <div class="right_ratio comm_ratio">
                  <h3>탄수화물 함량</h3>
                  <p><%= number_to_percentage(carbo_blance, precision: 2) %></p>
                </div>
              </div>
            </div>


            <main class="main">
              <div class="tab_container">
                <% if @jibsa.j_option_02 == 201 %>
                  <h3>AAFCO 임신·성장기 기준</h3>
                  <p>JellyPaw는 미국사료관리협회인 AAFCO가 제시하는 필수 영양소의 최소 요구량을 기준으로 영양성분을 분석하여 결과를 알려드립니다.</p>
                <% else %>
                  <h3>AAFCO 성숙기(성묘) 기준</h3>
                  <p>JellyPaw는 미국사료관리협회인 AAFCO가 제시하는 필수 영양소의 최소 요구량을 기준으로 영양성분을 분석하여 결과를 알려드립니다.</p>
                <% end %>
                <div class="tab">
                  <div class="tab-menu">
                    <button class="tab-menu-link is-active" data-content="item-1">
                      <span data-title="item-1">수분 포함</span>
                    </button>
                    <button class="tab-menu-link" data-content="item-2">
                      <span data-title="item-2">수분 제거</span>
                    </button>
                  </div>
                  
                  <div class="tab-bar">
                    <div class="tab-bar-content is-active" id="item-1">
                      <div class="texts">
                        <div class="nutri_report clearfix">
                          <table>
                            <tr>
                              <td><span><em></em>조단백질</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_11, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>조회분</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_18, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>칼슘</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_15, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>수분</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_12, precision: 1) %></span></td>
                            </tr>
                          </table>

                          <table>
                            <tr>
                              <td><span><em></em>조지방</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_14, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>조섬유</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_17, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>인</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_16, precision: 1) %></span></td>
                            </tr>
                            <!-- <tr>
                              <td><span>인</span></td>
                              <td><span>0.6%</span></td>
                            </tr> -->
                          </table>
                        </div><!-- nutri_report -->
                        
                      </div>
                    </div>

                    <div class="tab-bar-content" id="item-2">
                      <div class="texts">
                      <!-- MD 조단백질 --->
                      <% dm_protein = 0 %>
                      <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조지방 --->
                      <% dm_fat = 0 %>
                      <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 칼슘 --->
                      <% dm_calcium = 0 %>
                      <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 인 --->
                      <% dm_phosphorus = 0 %>
                      <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조섬유 --->
                      <% dm_fiber = 0 %>
                      <% dm_fiber =  100 * @jibsa.j_option_17.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조회분 --->
                      <% dm_flour = 0 %>
                      <% dm_flour =  100 * @jibsa.j_option_18.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>

                        <div class="nutri_report clearfix">
                          <table>
                            <tr>
                              <td><span><em></em>조단백질</span></td>
                              <% if dm_protein > 26 %>
                                <td><span class="over"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                              <% else %>
                                <td><span class="lower"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                              <% end %>
                            </tr>
                            <tr>
                              <td><span><em></em>조회분</span></td>
                              <td><span><%= number_to_percentage(dm_flour, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>칼슘</span></td>
                              <% if dm_calcium > 0.6 %>
                                <td><span class="over"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                              <% else %>
                                <td><span class="lower"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                              <% end %>
                              
                            </tr>
                            <tr>
                              <td><span><em></em>수분</span></td>
                              <td><span>0.0%</span></td>
                            </tr>
                          </table>

                          <table>
                            <tr>
                              <td><span><em></em>조지방</span></td>
                              <% if dm_fat > 9 %>
                                <td><span class="over"><%= number_to_percentage(dm_fat, precision: 1) %></span></td>
                              <% else %>
                                <td><span class="lower"><%= number_to_percentage(dm_fat, precision: 1) %></span></td>
                              <% end %>
                              
                            </tr>
                            <tr>
                              <td><span><em></em>조섬유</span></td>
                              <td><span><%= number_to_percentage(dm_fiber, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>인</span></td>
                              <% if dm_phosphorus > 0.5 %>
                                <td><span class="over"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                              <% else %>
                                <td><span class="lower"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                              <% end %>
                              
                            </tr>
                            <!-- <tr>
                              <td><span>인</span></td>
                              <td><span>0.6%</span></td>
                            </tr> -->
                          </table>
                        </div><!-- nutri_report -->
                        
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </main>

           

      </div><!-- main-container -->
    </div><!-- nutrition_comparison -->


  

    <br/><br/>


    <% protein_kcal = 0 %>
    <% protein_kcal =  @jibsa.j_option_11.to_f * 3.5 %>
    <% fat_kcal = 0 %>
    <% fat_kcal =  @jibsa.j_option_14.to_f * 8.5 %>
    <% carbo_kcal = 0 %>
    <% carbo_kcal =  carbo_blance * 3.5 %>
    <% total_kcal = 0 %>
    <% total_kcal = protein_kcal + fat_kcal + carbo_kcal %>

    <div class="slide_tab">
      <input type="radio" id="core_ingre" name="tab" checked hidden/>
      <input type="radio" id="allergic_potential" name="tab" hidden/>
      <input type="radio" id="caution_ingredient" name="tab" hidden/>
      <div class="slide_tab__menu">
        <label class="slide_tab__menu-item" for="core_ingre">탄단지 비율</label>
        <label class="slide_tab__menu-item" for="allergic_potential">탄단지 칼로리</label>
        <label class="slide_tab__menu-item" for="caution_ingredient">주의 성분</label>
      </div>
      <div class="slide_tab__content">

        <div class="slide_tab__content-item" data-tab="core_ingre">

          <div class="nutrient_balnace">
            <h3>100g당 탄단지(탄수화물,단백질,지방) 비율</h3>
            <div class="clearfix">
              <div class="nutri_box">
                <p>조단백질</p>
                <% protien_nutrient = 0 %>
                <% protien_nutrient = (protein_kcal / total_kcal) * 100 %>
                <span><%= number_to_percentage(protien_nutrient, precision: 2) %></span>
              </div>
              <div class="nutri_box">
                <p>조지방</p>
                <% fat_nutrient = 0 %>
                <% fat_nutrient = (fat_kcal / total_kcal) * 100 %>
                <span><%= number_to_percentage(fat_nutrient, precision: 2) %></span>
              </div>
              <div class="nutri_box">
                <p>탄수화물</p>
                <% carbo_nutrient = 0 %>
                <% carbo_nutrient = (carbo_kcal / total_kcal) * 100 %>
                <span><%= number_to_percentage(carbo_nutrient, precision: 2) %></span>
              </div>
            </div>
            <br />
            <%= pie_chart [ ["조단백질", number_to_percentage(protien_nutrient, precision: 2)], ["조지방", number_to_percentage(fat_nutrient, precision: 2)], ["탄수화물", number_to_percentage(carbo_nutrient, precision: 2)]], colors: ["#ff4729", "#ff9617", "#ffd34d"] %>
          </div>  
          
        </div>

        <div class="slide_tab__content-item" data-tab="allergic_potential">

          <div class="kcal_balnace">
            <h3>100g당 탄단지(탄수화물,단백질,지방) 칼로리</h3>
            <div class="clearfix">
              <div class="nutri_box">
                <p>조단백질</p>
                <span><%= number_with_precision(protein_kcal, precision: 2) %> kcal</span>
              </div>
              <div class="nutri_box">
                <p>조지방</p>
                <span><%= number_with_precision(fat_kcal, precision: 2) %> kcal</span>
              </div>
              <div class="nutri_box">
                <p>탄수화물</p>
                <span><%= number_with_precision(carbo_kcal, precision: 2) %> kcal</span>
              </div>
              
            </div>
            <h4>
              총 칼로리:
              <span><%= number_with_precision(total_kcal, precision: 2) %> kcal</span>
            </h4>
            <div class="bar_chart">
              <%= bar_chart [["조단백질", protein_kcal], ["조지방", fat_kcal], ["탄수화물", carbo_kcal], ["총 칼로리", total_kcal]], colors: ["#ff4729", "#ff9617", "#ffd34d", "#00f522"] %>
            </div>
          </div>

        </div>
        <div class="slide_tab__content-item" data-tab="caution_ingredient">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsam quas animi, quam eum quae eius veniam consequuntur aliquam odit similique et numquam sed nihil suscipit voluptatem, cupiditate, blanditiis reprehenderit.</p>
          <img src="https://source.unsplash.com/600x240" alt="">
        </div>
      </div>
    </div><!-- slide_tab -->

     
    <div class="nutri_analysis">
        <% protien_aveage = 30 %>
        <% fat_aveage = 16 %>
        <% calcium_aveage = 0.8 %>
        <% phosphorus_aveage = 0.65 %>
        <% fiber_aveage = 3 %>
        <% ash_aveage = 8 %>
        <% carbo_aveage = 20 %>
        <% water_aveage = 10 %>
        
        <p>퍼시캣 연어 레시피는 Pawjelly의 1000개 건식사료 데이터베이스와 비교하면:</p>
        <ul>
          <% if @jibsa.j_option_11 > protien_aveage %>
            <li>평균보다 <em>높은⬆</em> 조단백질을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조단백질을 함유</li>
          <% end %>
          <% if @jibsa.j_option_14 > fat_aveage %>
            <li>평균보다 <em>높은⬆</em> 조지방을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조지방을 함유</li>
          <% end %>
          <% if @jibsa.j_option_17 > fiber_aveage %>
            <li>평균보다 <em>높은⬆</em> 조섬유를 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조섬유를 함유</li>
          <% end %>
          <% if @jibsa.j_option_18 > ash_aveage %>
            <li>평균보다 <em>높은⬆</em> 조회분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조회분을 함유</li>
          <% end %>
          <% if @jibsa.j_option_15 > calcium_aveage %>
            <li>평균보다 <em>높은⬆</em> 칼슘을 함유</li>
          <% else %>  
            <li>평균보다 <em>낮은⬇</em> 칼슘을 함유</li>
          <% end %>
          <% if @jibsa.j_option_16 > phosphorus_aveage %>
            <li>평균보다 <em>높은⬆</em> 인을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 인을 함유</li> 
          <% end %>
          <% if carbo_blance > carbo_aveage %>
            <li>평균보다 <em>높은⬆</em> 탄수화물을 함유</li> 
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 탄수화물을 함유</li> 
          <% end %>
          <% if @jibsa.j_option_12 > water_aveage %>
            <li>평균보다 <em>높은⬆</em> 수분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 수분을 함유</li> 
          <% end %>
        </ul>
    </div><!-- nutri_analysis -->

    <br /><br />
    
  </div><!-- nutrition_box -->



  <div class="ingredient_box detail_ingredient clearfix">
    <h2>원재료(성분) 분석</h2>
    <div class="whole_ingre">
      <p>
        밀글루텐, 소맥분, 동물성 지방 (닭, 칠면조, 오리 및 돼지), 육분 (닭, 오리, 칠면조), 쌀, 옥수수, 분말셀룰로스, 동물성 유도단백질 (닭, 칠면조), 치커리 펄프, 혼합광물질류 합제, 어유, 대두유, 효모, 토마토 (라이코펜의 원료), 가수분해효모, 글루코사민, 보리지유, 금잔화 추출물 (루테인의 원료), 뮤코다당단백(콘드로이틴의 원료), 비타민 A, 비타민 D3, 철, 요오드, 구리, 망간, 아연, 셀레늄, 차 카테킨 (폴리페놀의 원료), 소르빈산칼륨, 항산화제.
      </p>
    </div>


    <div class="vertical_tab_container clearfix">
      
      <div class="bhoechie-tab-container">
          <div class=" bhoechie-tab-menu">
            <div class="list-group">
              <a href="#" class="list-group-item active text-center">주원료</a>
              <a href="#" class="list-group-item text-center">알러지 유발 가능성분</a>
              <a href="#" class="list-group-item text-center">의심 성분</a>
              <a href="#" class="list-group-item text-center">주의 성분</a>
            </div>
          </div>
          <div class="bhoechie-tab">
              <!-- flight section -->
              <div class="bhoechie-tab-content active">
                  <center>
                    <ul>
                      <li>제 1원료</li>
                      <li>제 2원료</li>
                      <li>제 3원료</li>
                      <li>제 4원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>
                      <li>제 5원료</li>

                    </ul>
                  </center>
              </div>
              <!-- train section -->
              <div class="bhoechie-tab-content">
                  <center>
                    <h1 class="glyphicon glyphicon-road" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Train Reservation</h3>
                  </center>
              </div>
  
              <!-- hotel search -->
              <div class="bhoechie-tab-content">
                  <center>
                    <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                  </center>
              </div>
              <div class="bhoechie-tab-content">
                  <center>
                    <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                  </center>
              </div>
              <div class="bhoechie-tab-content">
                  <center>
                    <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                    <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                    <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                  </center>
              </div>
          </div>
      </div>
      
    </div>





    <br /><br />

    <div class="description">
      <ul>
        <li>첫번째 주 원료가 동물성 단백질이 아닌 곡물인 글루텐.</li>
      </ul>
    </div>

    <%= @jibsa.j_description %>
    <%= @jibsa.j_spare_31 %>

  </div><!--ingredient_box-->

  <div class="general review">
    총평
  </div>


</div><!-- detail_wrap -->
<br>
<br>



<!-- 주원료, 알러지 가능성 및 주의 성분 탭 메뉴 -->
<script type="text/javascript">
  $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
  });
</script>

<!-- 차트 -->
<script type="text/javascript">
  // Produces width of .barChart
  $(document).ready(function() {
    $('.graph-bar').each(function() {
       var dataWidth = $(this).data('value');
       $(this).css("width", dataWidth + "%");
    });
  });
</script>


<!-- 영양소 탭 메뉴 -->
<script type="text/javascript">
  // Tabs Action
    const tabLink = document.querySelectorAll(".tab-menu-link");
    const tabContent = document.querySelectorAll(".tab-bar-content");

    tabLink.forEach((item) => {
      item.addEventListener("click", activeTab);
    });

    function activeTab(item) {
      const btnTarget = item.currentTarget;
      const content = btnTarget.dataset.content;

      tabContent.forEach((item) => {
        item.classList.remove("is-active");
      });

      tabLink.forEach((item) => {
        item.classList.remove("is-active");
      });

      document.querySelector("#" + content).classList.add("is-active");
      btnTarget.classList.add("is-active");
    }

</script>