
<br>
<div class="detail_wrap clearfix">
  

  <div class="detail_box detail_nutri clearfix">

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">제조국가</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">원산지</p>
      </div>
      <div class="bi_box">        
        <% if @jibsa.j_option_01 == 101 %>
          <span>건식사료</span>
        <% elsif @jibsa.j_option_01 == 102 %>
          <span>습식사료</span>
        <% elsif @jibsa.j_option_01 == 103 %>
          <span>동결건조</span>
        <% end %>
        <p class="info_p">사료타입</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_ingredient' %>
        <p class="info_p">제1주 원료</p>
      </div>
    </div>

    
    <% dm_protein = 0 %>
    <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>

    <% dm_fat = 0 %>
    <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_calcium = 0 %>
    <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_phosphorus = 0 %>
    <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
    

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <% if dm_protein > 26 && dm_fat > 9 && dm_calcium > 0.6 && dm_phosphorus > 0.5 %>
          <span>충족</span>
        <% else %>
          <span>불충족</span>
        <% end %>
        <p class="info_p">AAFCO 기준</p>
      </div>
      <div class="bi_box">        
        <span>있음</span>
        <p class="info_p">생산 공장</p>
      </div>
      <div class="bi_box">        
        <span>있음</span>
        <p class="info_p">자체 연구소</p>
      </div>
      <div class="bi_box">        
        <span>없음</span>
        <p class="info_p">리콜이력</p>
      </div>
    </div>


  
    <!-- <p class="info_title">상세정보</p> -->
    <br />
  
    <div class="expection_effects">
      <h4>기대 효과</h4>
      <%= render 'jibsas/codes_functional' %>
    </div>

  </div><!-- detail_box -->


  <div class="nutrition_box detail_nutri clearfix">

    <div class="nutrition_comparison clearfix">
      <div class="main-container">
        
            <div class="title_box">
              <h2>영양소 분석</h2>
            </div> 

            <div class="graph_wrap">   
              <h2>Guaranteed Analysis</h2>
              <div class="barGraph">
                <ul class="graph">
                  <span class="graph-barBack">
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_11 %>">
                      <span class="graph-legend">조단백질</span>
                    </li>
                  </span>  

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_14 %>">
                      <span class="graph-legend">조지방</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_18 %>">
                      <span class="graph-legend">조회분</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_17 %>">
                      <span class="graph-legend">조섬유</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_15 %>">
                      <span class="graph-legend">칼슘</span>
                    </li>
                  </span>

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_16 %>">
                      <span class="graph-legend">인</span>
                    </li>
                  </span>      

                  <span class="graph-barBack">    
                    <li class="graph-bar" data-value="<%= @jibsa.j_option_12 %>">
                      <span class="graph-legend">수분</span>
                    </li>
                  </span>      
                </ul>
              </div>
            </div><!-- graph_wrap -->


            <main class="main" style="display:none">
              <div class="tab_container">
                <% if @jibsa.j_option_02 == 201 %>
                  <h3>AAFCO 임신·성장기 기준</h3>
                  <p>JellyPaw는 미국사료관리협회인 AAFCO가 제시하는 필수 영양소의 최소 요구량을 기준으로 영양성분을 분석하여 결과를 알려드립니다.</p>
                <% else %>
                  <h3>AAFCO 성숙기(성묘) 기준</h3>
                  <p>JellyPaw는 미국사료관리협회인 AAFCO가 제시하는 필수 영양소의 최소 요구량을 기준으로 영양성분을 분석하여 결과를 알려드립니다.</p>
                <% end %>

                <div class="tab">
                  <div class="tab-menu">
                    <button class="tab-menu-link is-active" data-content="item-1">
                      <span data-title="item-1">수분 포함</span>
                    </button>
                    <button class="tab-menu-link" data-content="item-2">
                      <span data-title="item-2">수분 제거</span>
                    </button>
                  </div>
                  
                  <div class="tab-bar">
                    <div class="tab-bar-content is-active" id="item-1"><!-- 수분 포함 -->
                      <div class="texts">
                        <div class="nutri_report clearfix">
                          <table>
                            <tr>
                              <td><span><em></em>조단백질</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_11, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>조회분</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_18, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>칼슘</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_15, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>수분</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_12, precision: 1) %></span></td>
                            </tr>
                          </table>

                          <table>
                            <tr>
                              <td><span><em></em>조지방</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_14, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>조섬유</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_17, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>인</span></td>
                              <td><span><%= number_to_percentage(@jibsa.j_option_16, precision: 1) %></span></td>
                            </tr>
                            <!-- <tr>
                              <td><span>인</span></td>
                              <td><span>0.6%</span></td>
                            </tr> -->
                          </table>
                        </div><!-- nutri_report -->

                        <div class="ratio_wrap clearfix">
                          <% ca_phos_ratio = 0 %>
                          <% ca_phos_ratio = @jibsa.j_option_16.to_f / @jibsa.j_option_15.to_f %>
                          <% carbo_blance = 0 %>
                          <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_17.to_f - @jibsa.j_option_18.to_f %>
                          <div class="ratio_box clearfix">
                            <div class="left_ratio comm_ratio">
                              <h3>칼슘 인 비율</h3>
                              <p>1 : <%= number_with_precision(ca_phos_ratio, precision: 2) %></p>
                            </div>
                            <div class="right_ratio comm_ratio">
                              <h3>탄수화물 함량</h3>
                              <p><%= number_to_percentage(carbo_blance, precision: 2) %></p>
                            </div>
                          </div>
                        </div>

                        <br />
                        <br />
                        <div class="description">
                          칼슘과 인의 비율은 신장 건강과 밀접한 관련을 갖기 때문에 주식으로 급여하는 경우에는 비율을 꼭 확인해주시는 게 좋습니다
                        </div>
                      </div>
                    </div>

                    <div class="tab-bar-content" id="item-2"><!-- 수분 제거 -->
                      <div class="texts">
                      <!-- MD 조단백질 --->
                      <% dm_protein = 0 %>
                      <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조지방 --->
                      <% dm_fat = 0 %>
                      <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 칼슘 --->
                      <% dm_calcium = 0 %>
                      <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 인 --->
                      <% dm_phosphorus = 0 %>
                      <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조섬유 --->
                      <% dm_fiber = 0 %>
                      <% dm_fiber =  100 * @jibsa.j_option_17.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                      <!-- MD 조회분 --->
                      <% dm_flour = 0 %>
                      <% dm_flour =  100 * @jibsa.j_option_18.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>

                        <div class="nutri_report clearfix">
                          <table>
                            <tr>
                              <td><span><em></em>조단백질</span></td>
                              <% if @jibsa.j_option_02 == 201 %>
                                <% if dm_protein > 30 %>
                                  <td><span class="over"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                                <% end %>
                              <% else %>
                                <% if dm_protein > 26 %>
                                  <td><span class="over"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_protein, precision: 1) %></span></td>
                                <% end %>
                              <% end %>
                              
                            </tr>
                            <tr>
                              <td><span><em></em>조회분</span></td>
                              <td><span><%= number_to_percentage(dm_flour, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>칼슘</span></td>
                              <% if @jibsa.j_option_02 == 201 %>
                                <% if dm_calcium > 1 %>
                                  <td><span class="over"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                                <% end %>
                              <% else %>
                                <% if dm_calcium > 0.6 %>
                                  <td><span class="over"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_calcium, precision: 1) %></span></td>
                                <% end %>
                              <% end %>                              
                            </tr>
                            <tr>
                              <td><span><em></em>수분</span></td>
                              <td><span>0.0%</span></td>
                            </tr>
                          </table>

                          <table>
                            <tr>
                              <td><span><em></em>조지방</span></td>
                              <% if dm_fat > 9 %>
                                <td><span class="over"><%= number_to_percentage(dm_fat, precision: 1) %></span></td>
                              <% else %>
                                <td><span class="lower"><%= number_to_percentage(dm_fat, precision: 1) %></span></td>
                              <% end %>
                              
                            </tr>
                            <tr>
                              <td><span><em></em>조섬유</span></td>
                              <td><span><%= number_to_percentage(dm_fiber, precision: 1) %></span></td>
                            </tr>
                            <tr>
                              <td><span><em></em>인</span></td>
                              <% if @jibsa.j_option_02 == 201 %>
                                <% if dm_phosphorus > 0.8 %>
                                  <td><span class="over"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                                <% end %>
                              <% else %>
                                <% if dm_phosphorus > 0.5 %>
                                  <td><span class="over"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                                <% else %>
                                  <td><span class="lower"><%= number_to_percentage(dm_phosphorus, precision: 1) %></span></td>
                                <% end %>
                              <% end %>
                              
                              
                            </tr>
                            <!-- <tr>
                              <td><span>인</span></td>
                              <td><span>0.6%</span></td>
                            </tr> -->
                          </table>
                        </div><!-- nutri_report -->
                        
                      </div>

                      <br /><br />
                      <div class="description">
                        수분을 포함하지 않은 상태에서의 최소 영양 함량은 AAFCO 제시하는 최소 섭취 영양 기준을 총족 합니다.
                      </div>



                      <!--  <div class="ratio_wrap clearfix">
                        <% dm_ca_phos_ratio = 0 %>
                        <% dm_ca_phos_ratio = dm_phosphorus / dm_calcium %>
                        <% dm_carbo_blance = 0 %>
                        <% dm_carbo_blance =  100 - dm_protein - dm_fat - dm_fiber - dm_flour %>
                        <div class="ratio_box clearfix">
                          <div class="left_ratio comm_ratio">
                            <h3>칼슘 인 비율</h3>
                            <p>1 : <%= number_with_precision(dm_ca_phos_ratio, precision: 2) %></p>
                          </div>
                          <div class="right_ratio comm_ratio">
                            <h3>탄수화물 함량</h3>
                            <p><%= number_to_percentage(dm_carbo_blance, precision: 2) %></p>
                          </div>
                        </div>
                      </div> -->

                    </div>

                  </div>
                </div>
              </div>
            </main>

            <div class="calibrated_report">
                <!-- MD 조단백질 --->
                <% dm_protein = 0 %>
                <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <!-- MD 조지방 --->
                <% dm_fat = 0 %>
                <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <!-- MD 칼슘 --->
                <% dm_calcium = 0 %>
                <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <!-- MD 인 --->
                <% dm_phosphorus = 0 %>
                <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <!-- MD 조섬유 --->
                <% dm_fiber = 0 %>
                <% dm_fiber =  100 * @jibsa.j_option_17.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <!-- MD 조회분 --->
                <% dm_flour = 0 %>
                <% dm_flour =  100 * @jibsa.j_option_18.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                <div class="nutri_accordian">  
                  <ul> 
                    <li> 
                      <h3><span class="arrow"></span>자세히 보기</h3>
                      <ul>
                        <li>
                            <table class="nutrition-table">
                              <thead>
                                <tr class="nutrition-table-title-row">
                                  <th class="nutrition-table-title" colspan="4">영양 정보</th><!-- .nutrition-table-heading -->
                                </tr>
                                <tr>
                                  <% if @jibsa.j_option_02 == 201 %>
                                    <th class="serving-age" colspan="2">임신·성장기 기준</th>
                                  <% else %>
                                    <th class="serving-age" colspan="2">성묘 기준</th>
                                  <% end %>
                                  <th class="servings-per-container" colspan="2"></th>
                                </tr>
                                <tr class="nutrition-table-heading-row">
                                  <th>영양소</th>
                                  <th>AAFCO 기준</th>
                                  <th>라벨표시</th>
                                  <th><span id="daily-intake-per-serv" class="annotated">수분제거</span></th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr class="padrow"><td colspan="4">&nbsp;</td></tr> -->
                                <tr class="nutrition-table-information-row">
                                  <td>조단백질</td>
                                  <% if @jibsa.j_option_02 == 201 %>
                                    <td>30.0%</td>  
                                    <td><%= number_to_percentage(@jibsa.j_option_11, precision: 1) %></td>
                                    <% if dm_protein > 30 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_protein, precision: 1) %></td>
                                    <% else %> 
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_protein, precision: 1) %></td>
                                    <% end %>
                                  <% else %>
                                    <td>26.0%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_11, precision: 1) %></td>
                                    <% if dm_protein > 26 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_protein, precision: 1) %></td>
                                    <% else %> 
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_protein, precision: 1) %></td>
                                    <% end %>
                                  <% end %>
                                </tr>
                                <tr class="nutrition-table-information-row">
                                  <td>조지방</td>
                                  <% if @jibsa.j_option_02 == 201 %>
                                    <td>9.0%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_14, precision: 1) %></td>
                                    <% if dm_fat > 9 %> 
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_fat, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_fat, precision: 1) %></td>
                                    <% end %>
                                  <% else %> 
                                    <td>9.0%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_14, precision: 1) %></td>
                                    <% if dm_fat > 9 %> 
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_fat, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_fat, precision: 1) %></td>
                                    <% end %>
                                  <% end %>
                                  
                                </tr>
                                <tr class="nutrition-table-information-row">
                                  <td>칼슘</td>
                                  <% if @jibsa.j_option_02 == 201 %>
                                    <td>1.0%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_15, precision: 1) %></td>
                                    <% if dm_calcium > 1 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_calcium, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_calcium, precision: 1) %></td>
                                    <% end %>
                                  <% else %>
                                    <td>0.6%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_15, precision: 1) %></td>
                                    <% if dm_calcium > 0.6 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_calcium, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_calcium, precision: 1) %></td>
                                    <% end %>
                                  <% end %>
                                  
                                </tr>
                                <tr class="nutrition-table-information-row">
                                  <td>인</td>
                                  <% if @jibsa.j_option_02 == 201 %>
                                    <td>0.8%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_16, precision: 1) %></td>
                                    <% if dm_phosphorus > 0.8 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_phosphorus, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_phosphorus, precision: 1) %></td>
                                    <% end %>
                                  <% else %>
                                    <td>0.5%</td>
                                    <td><%= number_to_percentage(@jibsa.j_option_16, precision: 1) %></td>
                                    <% if dm_phosphorus > 0.5 %>
                                      <td class="dm_number_4_over"><%= number_to_percentage(dm_phosphorus, precision: 1) %></td>
                                    <% else %>
                                      <td class="dm_number_4_lower"><%= number_to_percentage(dm_phosphorus, precision: 1) %></td>
                                    <% end %>
                                  <% end %>
                                  
                                </tr>
                                <tr class="nutrition-table-information-row">
                                  <td>조회분</td>
                                  <td>N/A</td>
                                  <td><%= number_to_percentage(@jibsa.j_option_18, precision: 1) %></td>
                                  <td class="dm_number"><%= number_to_percentage(dm_flour, precision: 1) %></td>
                                </tr>    
                                <tr class="nutrition-table-information-row">
                                  <td>조섬유</td>
                                  <td>N/A</td>
                                  <td><%= number_to_percentage(@jibsa.j_option_17, precision: 1) %></td>
                                  <td class="dm_number"><%= number_to_percentage(dm_fiber, precision: 1) %></td>
                                </tr>
                                <tr class="nutrition-table-information-row">
                                  <td>수분</td>
                                  <td>N/A</td>
                                  <td><%= number_to_percentage(@jibsa.j_option_12, precision: 1) %></td>
                                  <td class="dm_number">0.0%</td>
                                </tr>
                                
                                <!-- <tr class="padrow"><td colspan="4">&nbsp;</td></tr> -->
                              </tbody>
                              <tfoot>
                                <td colspan="4">
                                  *수분을 제거하고 다시 측정하는 이유에 대해서 여기에 적으면 될것 같음.
                                </td>
                              </tfoot>
                          </table><!-- .nutrition-table -->
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div> 
            </div>

          

            <div class="ratio_wrap clearfix">
              <% ca_phos_ratio = 0 %>
              <% ca_phos_ratio = @jibsa.j_option_16.to_f / @jibsa.j_option_15.to_f %>
              <% carbo_blance = 0 %>
              <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_17.to_f - @jibsa.j_option_18.to_f %>
              <div class="ratio_box clearfix">
                <div class="left_ratio comm_ratio">
                  <h3>칼슘 인 비율</h3>
                  <p>1 : <%= number_with_precision(ca_phos_ratio, precision: 2) %></p>
                </div>
                <div class="right_ratio comm_ratio">
                  <h3>탄수화물 함량</h3>
                  <p><%= number_to_percentage(carbo_blance, precision: 2) %></p>
                </div>
              </div>
            </div>


      </div><!-- main-container -->
    </div><!-- nutrition_comparison -->

    <br />
    <br />
  
     <div class="pfc_report">
        <!-- DB 평균 수치와 비교할 때 -->
        <% protien_aveage = 30 %>
        <% fat_aveage = 16 %>
        <% calcium_aveage = 0.8 %>
        <% phosphorus_aveage = 0.65 %>
        <% fiber_aveage = 3 %>
        <% ash_aveage = 8 %>
        <% carbo_aveage = 20 %>
        <% water_aveage = 10 %>

        <!-- 100g 당 칼로리 -->
        <% protein_kcal = 0 %>
        <% protein_kcal =  @jibsa.j_option_11.to_f * 3.5 %>
        <% fat_kcal = 0 %>
        <% fat_kcal =  @jibsa.j_option_14.to_f * 8.5 %>
        <% carbo_kcal = 0 %>
        <% carbo_kcal =  carbo_blance * 3.5 %>
        <% total_kcal = 0 %>
        <% total_kcal = protein_kcal + fat_kcal + carbo_kcal %>

        <!-- 100g당 평균 칼로리 -->
        <% ave_protein_kcal = 0 %>
        <% ave_protein_kcal =  protien_aveage * 3.5 %>
        <% ave_fat_kcal = 0 %>
        <% ave_fat_kcal =  fat_aveage * 8.5 %>
        <% ave_carbo_kcal = 0 %>
        <% ave_carbo_kcal =  carbo_aveage * 3.5 %>
        <% ave_total_kcal = 0 %>
        <% ave_total_kcal = ave_protein_kcal + ave_fat_kcal + ave_carbo_kcal %>
        
        <input type="radio" id="tab_01" name="tab" checked hidden/>
        <input type="radio" id="tab_02" name="tab" hidden/>
        <div class="pfc_report__menu">
          <label class="pfc_report__menu-item" for="tab_01">탄단지 비율</label>
          <label class="pfc_report__menu-item" for="tab_02">탄단지 칼로리</label>
        </div>
        <div class="pfc_report__content">
          <div class="pfc_report__content-item" data-tab="tab_01">
            <div class="nutrient_balnace">
              <h3>100g당 탄단지(탄수화물,단백질,지방) 비율</h3>
              <div class="clearfix">
                <div class="nutri_box">
                  <p>조단백질</p>
                  <% protien_nutrient = 0 %>
                  <% protien_nutrient = (protein_kcal / total_kcal) * 100 %>
                  <span><%= number_to_percentage(protien_nutrient, precision: 2) %></span>
                </div>
                <div class="nutri_box">
                  <p>조지방</p>
                  <% fat_nutrient = 0 %>
                  <% fat_nutrient = (fat_kcal / total_kcal) * 100 %>
                  <span><%= number_to_percentage(fat_nutrient, precision: 2) %></span>
                </div>
                <div class="nutri_box">
                  <p>탄수화물</p>
                  <% carbo_nutrient = 0 %>
                  <% carbo_nutrient = (carbo_kcal / total_kcal) * 100 %>
                  <span><%= number_to_percentage(carbo_nutrient, precision: 2) %></span>
                </div>
              </div>
              <br />
              <%= pie_chart [ ["조단백질", number_to_percentage(protien_nutrient, precision: 2)], ["조지방", number_to_percentage(fat_nutrient, precision: 2)], ["탄수화물", number_to_percentage(carbo_nutrient, precision: 2)]], colors: ["#ff4729", "#ff9617", "#ffd34d"] %>
            </div><!--nutrient_balnace-->

             <div class="description">
              <p><%= @jibsa.j_title %>(은)는 100g당 약 <%= number_with_precision(total_kcal, precision: 2) %> 칼로리를 가지고 있으며, 이는 옴뇸뇸 DB에 있는 다른 건식 고양이 사료의 평균에 비해 약간 더 많은 칼로리입니다. <br /> [ * AAFCO에서 제공한 가용성 탄수화물(NFE) 계산식 사용 ] </p>


              <% if protien_nutrient > carbo_nutrient && protien_nutrient > fat_nutrient %>
                조단백질이 가장 높아
              <% elsif fat_nutrient > carbo_nutrient && fat_nutrient > protien_nutrient %> 
                조지방이 가장 높아
              <% elsif carbo_nutrient > fat_nutrient && carbo_nutrient > protien_nutrient %> 
                탄수화물이 가낭 높아
              <% end %>


              <!-- <br/ >
              <% if protien_nutrient > carbo_nutrient && protien_nutrient > fat_nutrient %>
                조단백질이 가장 높아
              <% else %> 
                조단백질이 가장 높진 않아
              <% end %>

              <br/ >
              <% if fat_nutrient > carbo_nutrient && fat_nutrient > protien_nutrient %>
                조지방아 가장 높다
              <% else %> 
                조지방이 가장 높진 않아
              <% end %>


              <br/ >
              <% if carbo_nutrient > fat_nutrient && carbo_nutrient > protien_nutrient %>
                탄수화물이 가장 높다
              <% else %> 
                탄수화물이 가장 높진 않아
              <% end %> -->

            </div>
            
          </div>

          <div class="pfc_report__content-item" data-tab="tab_02">
            <div class="kcal_balnace">
              <h3>100g당 탄단지(탄수화물,단백질,지방) 칼로리</h3>
              <div class="clearfix">
                <div class="nutri_box">
                  <p>조단백질</p>
                  <span><%= number_with_precision(protein_kcal, precision: 2) %> kcal</span>
                </div>
                <div class="nutri_box">
                  <p>조지방</p>
                  <span><%= number_with_precision(fat_kcal, precision: 2) %> kcal</span>
                </div>
                <div class="nutri_box">
                  <p>탄수화물</p>
                  <span><%= number_with_precision(carbo_kcal, precision: 2) %> kcal</span>
                </div>
                
              </div>
              <h4>
                총 칼로리:
                <span><%= number_with_precision(total_kcal, precision: 2) %> kcal</span>
              </h4>
              <div class="bar_chart">
                <%= bar_chart [["조단백질", protein_kcal], ["조지방", fat_kcal], ["탄수화물", carbo_kcal], ["총 칼로리", total_kcal]], colors: ["#b3b3b3", "#b3b3b3", "#b3b3b3", "#b3b3b3"] %>
              </div>
            </div>

            <div class="description">
              <p>
               <%= @jibsa.j_title %>(은)는 100g당 약<%= number_with_precision(total_kcal, precision: 2) %>칼로리를 가지고 있으며, 
               <% if total_kcal > ave_total_kcal %>
                이는 옴뇸뇸 DB에 있는 다른 건식 고양이 사료의 평균에 비해 높은 칼로리입니다.
               <% else %>
                이는 옴뇸뇸 DB에 있는 다른 건식 고양이 사료의 평균에 비해 낮은 칼로리입니다.
               <% end %>
                <br /> [ * AAFCO에서 제공한 가용성 탄수화물(NFE) 계산식 사용 ] 
              </p>
            </div>

          </div>
        </div>
      </div>


    <div class="nutri_analysis">
        
        <p>퍼시캣 연어 레시피는 Pawjelly의 1000개 건식사료 데이터베이스와 비교하면:</p>
        <ul>
          <% if @jibsa.j_option_11 > protien_aveage %>
            <li>평균보다 <em>높은⬆</em> 조단백질을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조단백질을 함유</li>
          <% end %>
          <% if @jibsa.j_option_14 > fat_aveage %>
            <li>평균보다 <em>높은⬆</em> 조지방을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조지방을 함유</li>
          <% end %>
          <% if @jibsa.j_option_17 > fiber_aveage %>
            <li>평균보다 <em>높은⬆</em> 조섬유를 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조섬유를 함유</li>
          <% end %>
          <% if @jibsa.j_option_18 > ash_aveage %>
            <li>평균보다 <em>높은⬆</em> 조회분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조회분을 함유</li>
          <% end %>
          <% if @jibsa.j_option_15 > calcium_aveage %>
            <li>평균보다 <em>높은⬆</em> 칼슘을 함유</li>
          <% else %>  
            <li>평균보다 <em>낮은⬇</em> 칼슘을 함유</li>
          <% end %>
          <% if @jibsa.j_option_16 > phosphorus_aveage %>
            <li>평균보다 <em>높은⬆</em> 인을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 인을 함유</li> 
          <% end %>
          <% if carbo_blance > carbo_aveage %>
            <li>평균보다 <em>높은⬆</em> 탄수화물을 함유</li> 
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 탄수화물을 함유</li> 
          <% end %>
          <% if @jibsa.j_option_12 > water_aveage %>
            <li>평균보다 <em>높은⬆</em> 수분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 수분을 함유</li> 
          <% end %>
        </ul>
    </div><!-- nutri_analysis -->


  </div><!-- nutrition_box -->



  <div class="ingredient_box detail_ingredient clearfix">
    <h2>원재료(성분) 분석</h2>
     <div class="whole_ingre">
      <p><%= @jibsa.j_description %></p>
    </div>

    <% if @jibsa.j_spare_31.present? %>
      <div class="accordian_box">
        <section>
          <input type="checkbox" id="section1"/>
          <label for="section1">영문표기</label>
          <div class="content">
            <p><%= @jibsa.j_spare_31 %></p>
          </div>
        </section>
      </div>
    <% end %>

   
    <div class="container-md">
      <div class="page-header">
        <h1>주요 성분</h1>
      </div>
      <div class="accordion-group restricted">
      
        <div class="collapse-section">
          <input class="collapse-toggle" type="checkbox" id="check-what-is" checked="checked"/>
          <label class="collapse-heading" for="check-what-is" aria-controls="what-is" id="control-what-is"><span class="title">제1 ~ 제5 주원료</span>
            <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M22,18.414l-10-10l-10,10L0.586,17L11.293,6.293c0.391-0.391,1.023-0.391,1.414,0L23.414,17L22,18.414z">  </path>
            </svg>
          </label>
          <div class="collapse-content" id="what-is">
            <p><span><%= @jibsa.j_string_01 %></span> <span><%= @jibsa.j_string_02 %></span> <span><%= @jibsa.j_string_03 %></span> <span><%= @jibsa.j_string_04 %></span> <span><%= @jibsa.j_string_05 %></span> </p>
          </div>
        </div>

        <div class="collapse-section">
          <input class="collapse-toggle" type="checkbox" id="check-where-do"/>
          <label class="collapse-heading" for="check-where-do" aria-controls="where-do" id="control-where-do"><span class="title">알러지 유발 가능 성분</span>
            <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M22,18.414l-10-10l-10,10L0.586,17L11.293,6.293c0.391-0.391,1.023-0.391,1.414,0L23.414,17L22,18.414z">  </path>
            </svg>
          </label>
          <div class="collapse-content" id="where-do">
            <p>asperiores possimus voluptatibus! Ipsum consectetur a non? Tempore excepturi veritatis aliquid vel odio. Unde qui eum nam veritatis. </p>
          </div>
        </div>

        <div class="collapse-section">
          <input class="collapse-toggle" type="checkbox" id="check-where-go"/>
          <label class="collapse-heading" for="check-where-go" aria-controls="where-go" id="control-where-go"><span class="title">의심 성분</span>
            <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M22,18.414l-10-10l-10,10L0.586,17L11.293,6.293c0.391-0.391,1.023-0.391,1.414,0L23.414,17L22,18.414z">  </path>
            </svg>
          </label>
          <div class="collapse-content" id="where-go">
            <p>asperiores possimus voluptatibus! Ipsum consectetur a non? Tempore excepturi veritatis aliquid vel odio. Unde qui eum nam veritatis. </p>
          </div>
        </div>

        <div class="collapse-section">
          <input class="collapse-toggle" type="checkbox" id="check-where-so"/>
          <label class="collapse-heading" for="check-where-so" aria-controls="where-do" id="control-where-so"><span class="title">주의 성분</span>
            <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
              <path d="M22,18.414l-10-10l-10,10L0.586,17L11.293,6.293c0.391-0.391,1.023-0.391,1.414,0L23.414,17L22,18.414z">  </path>
            </svg>
          </label>
          <div class="collapse-content" id="where-so">
            <p>asperiores possimus voluptatibus! Ipsum consectetur a non? Tempore excepturi veritatis aliquid vel odio. Unde qui eum nam veritatis. </p>
          </div>
        </div>

      </div>
    </div><!-- container-md -->

  
    <br /><br />

    <% if @jibsa.j_text_01.present? %>
     <div id="profile-description">
        <div class="text show-more-height">
             <div class="indre_description">
                <ul>
                  <% if @jibsa.j_text_01.present? %>
                    <li><%= @jibsa.j_text_01 %></li>
                  <% end %>
                  <% if @jibsa.j_text_02.present? %>
                    <li><%= @jibsa.j_text_02 %></li>
                  <% end %>
                  <% if @jibsa.j_text_03.present? %>
                    <li><%= @jibsa.j_text_03 %></li>
                  <% end %>
                  <% if @jibsa.j_text_04.present? %>
                    <li><%= @jibsa.j_text_04 %></li>
                  <% end %>
                  <% if @jibsa.j_text_05.present? %>
                    <li><%= @jibsa.j_text_05 %></li>
                  <% end %>
                  <% if @jibsa.j_text_06.present? %>
                    <li><%= @jibsa.j_text_06 %></li>
                  <% end %>
                  <% if @jibsa.j_text_07.present? %>
                    <li><%= @jibsa.j_text_07 %></li>
                  <% end %>
                </ul>
              </div>
        </div>
        <div class="show-more">(Show More)</div>
    </div>
  <% end %>
      
   

  </div><!--ingredient_box-->

  <div class="general review">
    
  </div>


</div><!-- detail_wrap -->
<br>
<br>



<!-- 주원료, 알러지 가능성 및 주의 성분 탭 메뉴 -->
<script type="text/javascript">
   
</script>

<!-- 차트 -->
<script type="text/javascript">
  // Produces width of .barChart
  $(document).ready(function() {
    $('.graph-bar').each(function() {
       var dataWidth = $(this).data('value');
       $(this).css("width", dataWidth + "%");
    });
  });
</script>


<!-- 영양소 탭 메뉴 -->
<script type="text/javascript">
  // Tabs Action
    const tabLink = document.querySelectorAll(".tab-menu-link");
    const tabContent = document.querySelectorAll(".tab-bar-content");

    tabLink.forEach((item) => {
      item.addEventListener("click", activeTab);
    });

    function activeTab(item) {
      const btnTarget = item.currentTarget;
      const content = btnTarget.dataset.content;

      tabContent.forEach((item) => {
        item.classList.remove("is-active");
      });

      tabLink.forEach((item) => {
        item.classList.remove("is-active");
      });

      document.querySelector("#" + content).classList.add("is-active");
      btnTarget.classList.add("is-active");
    }

</script>


<!-- 수분제거한 영양소 프로필 보기 -->
<script type="text/javascript">
  $(function() { 
    $('.nutri_accordian li').on('click', function() {
      if ($(this).find('ul').hasClass('open')) {
        $('ul.open').slideToggle().removeClass('open');
        $('.nutri_accordian h3 span').removeClass('closed');
        $('.nutri_accordian h3').removeClass('closed');
      } else {
        $('ul.open').slideToggle().removeClass('open');
        $(this).find('ul').slideToggle().addClass('open');
        $('.nutri_accordian h3, .nutri_accordian h3 span').removeClass('closed');
        $(this).find('h3, h3 span').addClass('closed')
      }
    });
    // Active class starts one open
    $('.nutri_accordian li.active ul').slideDown().addClass('open');
  });
</script>

<script type="text/javascript">
      $(".show-more").click(function () {
        if($(".text").hasClass("show-more-height")) {
            $(this).text("Show Less");
        } else {
            $(this).text("Show More");
        }

        $(".text").toggleClass("show-more-height");
    });
</script>