
<br>
<div class="detail_wrap clearfix">
  

  <div class="detail_box detail_nutri clearfix">

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">제조국가</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_country' %>
        <p class="info_p">원산지</p>
      </div>
      <div class="bi_box">        
        <% if @jibsa.j_option_01 == 101 %>
          <span>건식사료</span>
        <% elsif @jibsa.j_option_01 == 102 %>
          <span>습식사료</span>
        <% elsif @jibsa.j_option_01 == 103 %>
          <span>동결건조</span>
        <% end %>
        <p class="info_p">사료타입</p>
      </div>
      <div class="bi_box">        
        <%= render 'jibsas/codes_ingredient' %>
        <p class="info_p">제1주 원료</p>
      </div>
    </div>

    
    <% dm_protein = 0 %>
    <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
    
    <% dm_fat = 0 %>
    <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_calcium = 0 %>
    <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
  
    <% dm_phosphorus = 0 %>
    <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
    

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <% if dm_protein > 26 && dm_fat > 9 && dm_calcium > 0.6 && dm_phosphorus > 0.5 %>
          <span>O</span>
        <% else %>
          <span>X</span>
        <% end %>
        <p class="info_p">AAFCO 기준</p>
      </div>
      <div class="bi_box">        
        <span>O</span>
        <p class="info_p">생산 공장</p>
      </div>
      <div class="bi_box">        
        <span>O</span>
        <p class="info_p">자체 연구소</p>
      </div>
      <div class="bi_box">        
        <span>X</span>
        <p class="info_p">리콜이력</p>
      </div>
    </div>

    <!-- <p class="info_title">상세정보</p> -->
    <br />
    <div class="left comm">
      <ul>
        <li>급여 대상</li>
        <li>주 단백질원</li>
        <% if @jibsa.j_option_04.present? %>
          <li>상태</li>
        <% end %>
        <% if @jibsa.j_option_05.present? %>
          <li>알레르기</li>
        <% end %>
        <li class="two_line">기능성</li>
      </ul>
    </div>
    <div class="right comm">
      <ul>
        <li>
          <% if @jibsa.j_option_02 == 201 %>
            <span>키튼(1세 미만)</span>
          <% elsif @jibsa.j_option_02 == 202 %>
            <span>어덜트(1세 ~ 7세)</span>
          <% elsif @jibsa.j_option_02 == 203 %>
            <span>시니어(7세 이상)</span>
          <% elsif @jibsa.j_option_02 == 204 %>
            <span>전연령용</span>
          <% end %>
        </li>
        <li>
          연어
        </li>
        <% if @jibsa.j_option_04.present? %>
          <li>
            <% if @jibsa.j_option_04 == 401 %>
              <span>임신&출산&수유</span>
            <% elsif @jibsa.j_option_04 == 402 %>
              <span>중성화 수술</span>
            <% end %>
          </li>
        <% end %>
        <% if @jibsa.j_option_05.present? %>
          <li>
            <% if @jibsa.j_option_05 == 501 %>
              <span>LID</span>
            <% elsif @jibsa.j_option_05 == 502 %>
              <span>가수분해단백질</span>
            <% elsif @jibsa.j_option_05 == 503 %>
              <span>그레인프리</span>
            <% elsif @jibsa.j_option_05 == 504 %>
              <span>글루틴프리</span>
            <% end %>
          </li>
        <% end %>
        <li class="two_line">
          <%= render 'jibsas/codes_functional' %>
        </li>
      </ul>
    </div>

  </div><!-- detail_box -->

  <br><br>

  <div class="nutrition_box detail_nutri clearfix">

    <div class="nutrition_comparison clearfix">
                      
      <div class="main-container">
        <section class="pricing-2">
         <div class="container">          
          <h2>영양소 분석</h2>
          <% if @jibsa.j_option_02 == 201 %>
            <h3>AAFCO 임신·성장기 기준</h3>
          <% else %>
            <h3>AAFCO 성숙기(성묘) 기준</h3>
          <% end %>
          <div class="row pricing-tables">

           <div class="col-md-3 no-pad-right hidden-sm">
            <div class="pricing-table feature-list">
             <ul class="features">
              <li><strong>&nbsp;</strong></li>
              <li><strong>Storage Space</strong></li>
              <li><strong>Unique Logins</strong></li>
              <li><strong>Offsite Backup</strong></li>
              <li><strong>Support Hours</strong></li>
              <li><strong>Bandwidth</strong></li>
             </ul>
            </div>
           </div>

           <div class="col-md-3 no-pad-right hidden-sm">
            <div class="pricing-table feature-list">
             <ul class="features">
              <li><strong>주요성분</strong></li>
              <li><strong>조단백질</strong></li>
              <li><strong>조지방</strong></li>
              <li><strong>칼슘</strong></li>
              <li><strong>인</strong></li>
              <!-- <li><strong>수분</strong></li> -->
             </ul>
            </div>
           </div>

           <div class="col-md-3 no-pad hidden-sm">
            <div class="pricing-table">
             <ul class="features">
              <li><strong>수분포함</strong></li>
              <li><strong><%= number_to_percentage(@jibsa.j_option_11, precision: 2) %></strong></li>
              <li><strong><%= number_to_percentage(@jibsa.j_option_14, precision: 2) %></strong></li>
              <li><strong><%= number_to_percentage(@jibsa.j_option_15, precision: 2) %></strong></li>
              <li><strong><%= number_to_percentage(@jibsa.j_option_16, precision: 2) %></strong></li>
              <!-- <li><strong>10%</strong></li> -->
             </ul>
            </div>
           </div>

           <div class="col-md-3 no-pad hidden-sm">
            <div class="pricing-table emphasis">
             <% if @jibsa.j_option_02 == 201 %>
              <ul class="features">
                <li class="mid_tit"><strong>AAFCO 기준</strong></li>
                <li><strong>30%</strong></li>
                <li><strong>9%</strong></li>
                <li><strong>1%</strong></li>
                <li><strong>0.8%</strong></li>
              </ul>
             <% else %>
              <ul class="features">
                <li class="mid_tit"><strong>AAFCO 기준</strong></li>
                <li><strong>26%</strong></li>
                <li><strong>9%</strong></li>
                <li><strong>0.6%</strong></li>
                <li><strong>0.5%</strong></li>
             </ul>
             <% end %>
             
            </div>
           </div>

           <div class="col-md-3 no-pad-left hidden-sm">
            <div class="pricing-table">
             <ul class="features">
              <li><strong>수분제거</strong></li>
              <li>
                <strong>
                  <% dm_protein = 0 %>
                  <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                  <% if dm_protein > 26 %>
                    <p class="over"><%= number_to_percentage(dm_protein, precision: 2) %></p>
                  <% else %>
                    <p class="lower"><%= number_to_percentage(dm_protein, precision: 2) %></p>
                  <% end %>
                </strong>
              </li>
              <li>
                <strong>
                  <% dm_fat = 0 %>
                  <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                  <% if dm_fat > 9 %>
                    <p class="over"><%= number_to_percentage(dm_fat, precision: 2) %></p>
                  <% else %>
                    <p class="lower"><%= number_to_percentage(dm_fat, precision: 2) %></p>
                  <% end %>
                </strong>
              </li>
              <li>
                <strong>
                  <% dm_calcium = 0 %>
                  <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                  <% if dm_calcium > 0.6 %>
                    <p class="over"><%= number_to_percentage(dm_calcium, precision: 2) %></p>
                  <% else %>
                    <p class="lower"><%= number_to_percentage(dm_calcium, precision: 2) %></p>
                  <% end %>
                </strong>
              </li>
              <li>
                <strong>
                  <% dm_phosphorus = 0 %>
                  <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
                  <% if dm_phosphorus > 0.5 %>
                    <p class="over"><%= number_to_percentage(dm_phosphorus, precision: 2) %></p>
                  <% else %>
                    <p class="lower"><%= number_to_percentage(dm_phosphorus, precision: 2) %></p>
                  <% end %>
                </strong>
              </li>
             </ul>
             
            </div>
           </div>
          </div>
         </div>
        </section>
      </div>
    </div><!-- nutrition_comparison -->

    <!-- 기타 성분 [조회분, 조섬유, 오메가3, 오메가6, 비타민류 등] -->
    <div class="other_nutrition">
    </div>

    

    <div>
      <div class="ca_phos_ratio">
        <!-- 칼슘:인 비율 -->
        <% dm_ca_phos_ratio = 0 %>
        <% dm_ca_phos_ratio = dm_phosphorus / dm_calcium %>
        <h3>칼슘과 인의 비율 1 : <%= number_with_precision(dm_ca_phos_ratio, precision: 2) %></h3>
        <p>AAFCO 칼슘과 인 최소 비율인 1:1을 충족해요.</p>
      </div>  

      <div class="carbo_ratio ">
        
          <!-- 탄수화물 함량 = 100 -( 조단백질+조지방+수분+조회분+조섬유 ) -->
          <% carbo_blance = 0 %>
          <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_17.to_f - @jibsa.j_option_18.to_f %>
          <h3>탄수화물 함류량 <%= number_to_percentage(carbo_blance, precision: 2) %></h3>

          <!-- 권장 함량과의 차이 20 보다 높을 때-->
          <% over_twenty = 0 %> 
          <% over_twenty = carbo_blance - 35 %>

          <!-- 권장 함량과의 차이 20 보다 높을 때-->
          <% under_twenty = 0 %> 
          <% under_twenty = 35 - carbo_blance  %>

          <% if carbo_blance > 35 %>
            <p>탄수화물 함량이 <%= number_to_percentage(carbo_blance, precision: 2) %>로 건식사료 평균 탄수화물 함량인 35.00% 보다 <%= number_to_percentage(over_twenty, precision: 2) %> 높아요.</p>
          <% elsif carbo_blance < 35 %>
            <p>탄수화물 함량이 <%= number_to_percentage(carbo_blance, precision: 2) %>로 건식사료 평균 탄수화물 함량인 35.00% 보다 <%= number_to_percentage(under_twenty, precision: 2) %> 낮아요.</p>
          <% end %>

        
      </div>
    </div>

    <br/><br/>

    <div class="kcal_balnace">
      <h3>100g당 PFC 칼로리</h3>
      <div class="clearfix">
        <p>
          조단백질
          <% protein_kcal = 0 %>
          <% protein_kcal =  @jibsa.j_option_11.to_f * 3.5 %>
          <span><%= number_with_precision(protein_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          조지방
          <% fat_kcal = 0 %>
          <% fat_kcal =  @jibsa.j_option_14.to_f * 8.5 %>
          <span><%= number_with_precision(fat_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          탄수화물
          <% carbo_kcal = 0 %>
          <% carbo_kcal =  carbo_blance * 3.5 %>
          <span><%= number_with_precision(carbo_kcal, precision: 2) %> kcal</span>
        </p>
      </div>
      <h4>
        총 칼로리:
        <% total_kcal = 0 %>
        <% total_kcal = protein_kcal + fat_kcal + carbo_kcal %>
        <span><%= number_with_precision(total_kcal, precision: 2) %> kcal</span>
      </h4>
      <%= bar_chart [["조단백질", protein_kcal], ["조지방", fat_kcal], ["탄수화물", carbo_kcal], ["총 칼로리", total_kcal]], colors: ["#8b80f8"] %>
    </div>


    

    <div class="nutrient_balnace">
      <h3>100g당 PFC 비율</h3>
      <div class="clearfix">
        <p>
          조단백질
          <% protien_nutrient = 0 %>
          <% protien_nutrient = (protein_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(protien_nutrient, precision: 2) %></span>
        </p>
        <p>
          조지방
          <% fat_nutrient = 0 %>
          <% fat_nutrient = (fat_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(fat_nutrient, precision: 2) %></span>
        </p>
        <p>
          탄수화물
          <% carbo_nutrient = 0 %>
          <% carbo_nutrient = (carbo_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(carbo_nutrient, precision: 2) %></span>
        </p>
      </div>
      <br />
      <%= pie_chart [ ["조단백질", number_to_percentage(protien_nutrient, precision: 2)], ["조지방", number_to_percentage(fat_nutrient, precision: 2)], ["탄수화물", number_to_percentage(carbo_nutrient, precision: 2)]], colors: ["#239023", "#47d247", "#70dc70"] %>
    </div>

     <div class="nutri_analysis">
        <% protien_aveage = 30 %>
        <% fat_aveage = 16 %>
        <% calcium_aveage = 0.8 %>
        <% phosphorus_aveage = 0.65 %>
        <% fiber_aveage = 3 %>
        <% ash_aveage = 8 %>
        <% carbo_aveage = 20 %>
        <% water_aveage = 10 %>
        
        <p>퍼시캣 연어 레시피는 Pawjelly의 1000개 건식사료 데이터베이스와 비교하면:</p>
        <ul>
          <% if @jibsa.j_option_11 > protien_aveage %>
            <li>평균보다 <em>높은⬆</em> 조단백질을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조단백질을 함유</li>
          <% end %>
          <% if @jibsa.j_option_14 > fat_aveage %>
            <li>평균보다 <em>높은⬆</em> 조지방을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조지방을 함유</li>
          <% end %>
          <% if @jibsa.j_option_17 > fiber_aveage %>
            <li>평균보다 <em>높은⬆</em> 조섬유를 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조섬유를 함유</li>
          <% end %>
          <% if @jibsa.j_option_18 > ash_aveage %>
            <li>평균보다 <em>높은⬆</em> 조회분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 조회분을 함유</li>
          <% end %>
          <% if @jibsa.j_option_15 > calcium_aveage %>
            <li>평균보다 <em>높은⬆</em> 칼슘을 함유</li>
          <% else %>  
            <li>평균보다 <em>낮은⬇</em> 칼슘을 함유</li>
          <% end %>
          <% if @jibsa.j_option_16 > phosphorus_aveage %>
            <li>평균보다 <em>높은⬆</em> 인을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 인을 함유</li> 
          <% end %>
          <% if carbo_blance > carbo_aveage %>
            <li>평균보다 <em>높은⬆</em> 탄수화물을 함유</li> 
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 탄수화물을 함유</li> 
          <% end %>
          <% if @jibsa.j_option_12 > water_aveage %>
            <li>평균보다 <em>높은⬆</em> 수분을 함유</li>
          <% else %>
            <li>평균보다 <em>낮은⬇</em> 수분을 함유</li> 
          <% end %>
        </ul>
      </div>

    <br /><br />
    
  </div><!-- nutrition_box -->



  <div class="ingredient_box detail_ingredient clearfix">
    <h2>원재료(성분) 분석</h2>
    <div class="whole_ingre">
      <p>
        밀글루텐, 소맥분, 동물성 지방 (닭, 칠면조, 오리 및 돼지), 육분 (닭, 오리, 칠면조), 쌀, 옥수수, 분말셀룰로스, 동물성 유도단백질 (닭, 칠면조), 치커리 펄프, 혼합광물질류 합제, 어유, 대두유, 효모, 토마토 (라이코펜의 원료), 가수분해효모, 글루코사민, 보리지유, 금잔화 추출물 (루테인의 원료), 뮤코다당단백(콘드로이틴의 원료), 비타민 A, 비타민 D3, 철, 요오드, 구리, 망간, 아연, 셀레늄, 차 카테킨 (폴리페놀의 원료), 소르빈산칼륨, 항산화제.
      </p>
    </div>

    <div class="core_ingre">
      <h3>제 1주원료 ~ 제 5주원료</h3>
      <ul>
        <li>밀글루텐</li>
        <li>소맥분</li>
        <li>동물성 지방 (닭, 칠면조, 오리 및 돼지)</li>
        <li>육분 (닭, 오리, 칠면조)</li>
        <li>쌀</li>
      </ul>
    </div>

    <div class="allergic_potential">
      <h3>알러지를 일으킬 수 있는 원료</h3>
      <ul>
        <li>밀글루텐</li>
        <li>쌀</li>
        <li>옥수수</li>
      </ul>
    </div>

    <br /><br />

    <div class="caution_ingredient">
      <h3>주의 성분</h3>
      <ul>
        <li>밀글루텐</li>
        <li>쌀</li>
        <li>옥수수</li>
      </ul>
    </div>

    <br /><br />

    <div class="description">
      <ul>
        <li>첫번째 주 원료가 동물성 단백질이 아닌 곡물인 글루텐.</li>
      </ul>
    </div>

    <%= @jibsa.j_description %>
    <%= @jibsa.j_spare_31 %>

  </div><!--ingredient_box-->

  <div class="general review">
    총평
  </div>


  



</div>
<br>
<br>
