
<br>
<div class="detail_wrap clearfix">
  

  <div class="detail_box detail_nutri clearfix">

    <div class="basic_info clearfix">
      <div class="bi_box">        
        <span>이탈리아</span>
        <p>제조국가</p>
      </div>
      <div class="bi_box">        
        <span>건식</span>
        <p>사료타입</p>
      </div>
      <div class="bi_box">        
        <span>키튼</span>
        <p>급여대상</p>
      </div>
    </div>

    <p class="info_title">상세정보</p>
    <div class="left comm">
      <ul>
        <li>사료 타입</li>
        <li>급여 대상</li>
        <li>브랜드</li>
        <li>제조 국가</li>
        <li>제1주 원료</li>
        <li>중량</li>
        <li class="two_line">기능성</li>
        <% if @jibsa.j_option_04.present? %>
          <li>상태</li>
        <% end %>
        <% if @jibsa.j_option_05.present? %>
          <li>알레르기</li>
        <% end %>
      </ul>
    </div>
    <div class="right comm">
      <ul>
        <li>
          <% if @jibsa.j_option_01 == 101 %>
            <em>건식사료</em>
          <% elsif @jibsa.j_option_01 == 102 %>
            <em>습식사료</em>
          <% end %>
        </li>
        <li>
          <% if @jibsa.j_option_02 == 201 %>
            <em>키튼(1세 미만)</em>
          <% elsif @jibsa.j_option_02 == 202 %>
            <em>어덜트(1세 ~ 7세)</em>
          <% elsif @jibsa.j_option_02 == 203 %>
            <em>시니어(7세 이상)</em>
          <% elsif @jibsa.j_option_02 == 204 %>
            <em>전연령용</em>
          <% end %>
        </li>
        <li>
          <%= render 'jibsas/codes_brand' %>
        </li>
        <li>
          <%= render 'jibsas/codes_country' %>
        </li>
        <li>
          <%= render 'jibsas/codes_ingredient' %>
        </li>
        <li>
          <em><%= @jibsa.j_option_19 %>kg</em>
        </li>
        <li class="two_line">
          <%= render 'jibsas/codes_functional' %>
        </li>
        <% if @jibsa.j_option_04.present? %>
          <li>
            <% if @jibsa.j_option_04 == 401 %>
              <em>임신&출산&수유</em>
            <% elsif @jibsa.j_option_04 == 402 %>
              <em>중성화 수술</em>
            <% end %>
          </li>
        <% end %>
        <% if @jibsa.j_option_05.present? %>
          <li>
            <% if @jibsa.j_option_05 == 501 %>
              <em>LID</em>
            <% elsif @jibsa.j_option_05 == 502 %>
              <em>가수분해단백질</em>
            <% elsif @jibsa.j_option_05 == 503 %>
              <em>그레인프리</em>
            <% elsif @jibsa.j_option_05 == 504 %>
              <em>글루틴프리</em>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div> 
  <br><br><br>
  <div class="nutrition_box detail_nutri clearfix">

    <p class="info_title">중요 성분비율</p>
    <div class="important clearfix">
      <div class="left comm">
         <ul>
          <li>성분</li>
          <li>조단백질</li>
          <li>조지방</li>
          <li>칼슘</li>
          <li>인</li>
          <!-- <li>조회분</li>
          <li>조섬유</li> -->
          <li>수분</li>
        </ul>
      </div>

      <div class="mid comm">
        <ul>
          <li>수분 포함</li>
          <li><%= number_to_percentage(@jibsa.j_option_11, precision: 2) %></li>
          <li><%= number_to_percentage(@jibsa.j_option_14, precision: 2) %></li>
          <li><%= number_to_percentage(@jibsa.j_option_15, precision: 2) %></li>
          <li><%= number_to_percentage(@jibsa.j_option_16, precision: 2) %></li>
          <!-- <li><%= number_to_percentage(@jibsa.j_option_17, precision: 2) %></li> -->
          <!-- <li><%= number_to_percentage(@jibsa.j_option_18, precision: 2) %></li> -->
          <li><%= number_to_percentage(@jibsa.j_option_12, precision: 2) %></li>
        </ul>
      </div>

      <div class="right comm">
        <ul>
          <li>수분 제거</li>
          <li>
            <% dm_protein = 0 %>
            <% dm_protein =  100 * @jibsa.j_option_11.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_protein, precision: 2) %>
          </li>
          <li>
            <% dm_fat = 0 %>
            <% dm_fat =  100 * @jibsa.j_option_14.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_fat, precision: 2) %>
          </li>
          <li>
            <% dm_calcium = 0 %>
            <% dm_calcium =  100 * @jibsa.j_option_15.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_calcium, precision: 2) %>
          </li>
          <li>
            <% dm_phosphorus = 0 %>
            <% dm_phosphorus =  100 * @jibsa.j_option_16.to_f / (100 - @jibsa.j_option_12.to_f) * 4000 / @jibsa.j_option_13.to_f %>
            <%= number_to_percentage(dm_phosphorus, precision: 2) %>
          </li>
          <!-- <li>1.29%</li>
          <li>1.09%</li> -->
          <li>0%</li>
        </ul>
      </div>
    </div>

    <div class="carbo_ratio ">
      <h3>
        <!-- 탄수화물 함량 = 100 -( 조단백질+조지방+수분+조회분 ) -->
        탄수화물 함류량:
        <% carbo_blance = 0 %>
        <% carbo_blance =  100 - @jibsa.j_option_11.to_f - @jibsa.j_option_14.to_f - @jibsa.j_option_12.to_f - @jibsa.j_option_18.to_f %>

        <!-- 권장 함량과의 차이 20 보다 높을 때-->
        <% over_twenty = 0 %> 
        <% over_twenty = carbo_blance - 20 %>

        <!-- 권장 함량과의 차이 20 보다 높을 때-->
        <% under_twenty = 0 %> 
        <% under_twenty = 20 - carbo_blance  %>

        <% if carbo_blance > 20 %>
          <span>탄수화물 함량이 <%= number_to_percentage(carbo_blance, precision: 2) %>로 권장 탄수화물 함량인 20% 보다 <%= number_to_percentage(over_twenty, precision: 2) %> 높아요.</span>
        <% elsif carbo_blance < 20 %>
          <span>탄수화물 함량이 <%= number_to_percentage(carbo_blance, precision: 2) %>로 권장 탄수화물 함량인 20% 보다 <%= number_to_percentage(under_twenty, precision: 2) %> 낮아요.</span>
        <% end %>
      </h3>
    </div>

    <div class="ca_phos_ratio">
      <h3>
        <!-- 칼슘 함량 -->
        <% calcium_ratio = 0 %>
        <% calcium_ratio = ( @jibsa.j_option_19.to_f * 1000 ) * @jibsa.j_option_15.to_f / 100  %>
        칼슘 함량: <%= number_with_precision(calcium_ratio, precision: 0) %>g
      </h3>

      <h3>
        <!-- 인 함량 -->
        <% phosphorus_ratio = 0 %>
        <% phosphorus_ratio = ( @jibsa.j_option_19.to_f * 1000 ) * @jibsa.j_option_16.to_f / 100  %>
        인 함량: <%= number_with_precision(phosphorus_ratio, precision: 0) %>g
      </h3>

       <h3>
        <!-- 인 비율 -->
        <% ca_phos_ratio = 0 %>
        <% ca_phos_ratio = phosphorus_ratio / calcium_ratio %>
        인 비율: <%= number_with_precision(ca_phos_ratio, precision: 2) %>
      </h3>

      <h3>
        <!-- 칼슘:인 비율 -->
        칼슘:인 비율:: 1 : <%= number_with_precision(ca_phos_ratio, precision: 2) %>
      </h3>

      <hr />

       <h3>
        MD기준 인 비율
        <!-- 인 비율 -->
        <% dm_ca_phos_ratio = 0 %>
        <% dm_ca_phos_ratio = dm_phosphorus / dm_calcium %>
        인 비율: <%= number_with_precision(dm_ca_phos_ratio, precision: 2) %>
      </h3>


    </div><br/><br/>

    <div class="kcal_balnace">
      <h3>100g당 PFC 칼로리</h3>
      <div class="clearfix">
        <p>
          조단백질
          <% protein_kcal = 0 %>
          <% protein_kcal =  @jibsa.j_option_11.to_f * 3.5 %>
          <span><%= number_with_precision(protein_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          조지방
          <% fat_kcal = 0 %>
          <% fat_kcal =  @jibsa.j_option_14.to_f * 8.5 %>
          <span><%= number_with_precision(fat_kcal, precision: 2) %> kcal</span>
        </p>
        <p>
          탄수화물
          <% carbo_kcal = 0 %>
          <% carbo_kcal =  carbo_blance * 3.5 %>
          <span><%= number_with_precision(carbo_kcal, precision: 2) %> kcal</span>
        </p>
      </div>
      <h4>
        총 칼로리:
        <% total_kcal = 0 %>
        <% total_kcal = protein_kcal + fat_kcal + carbo_kcal %>
        <span><%= number_with_precision(total_kcal, precision: 2) %> kcal</span>
      </h4>
    </div>

    <div class="nutrient_balnace">
      <h3>100g당 PFC 비율</h3>
      <div class="clearfix">
        <p>
          조단백
          <% protien_nutrient = 0 %>
          <% protien_nutrient = (protein_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(protien_nutrient, precision: 2) %></span>
        </p>
        <p>
          조지방
          <% fat_nutrient = 0 %>
          <% fat_nutrient = (fat_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(fat_nutrient, precision: 2) %></span>
        </p>
        <p>
          탄수화물
          <% carbo_nutrient = 0 %>
          <% carbo_nutrient = (carbo_kcal / total_kcal) * 100 %>
          <span><%= number_to_percentage(carbo_nutrient, precision: 2) %></span>
        </p>
      </div>
    </div>
  </div>


</div>
<br>
<br>
