<div class="index_box clearfix">
  <div class="index_left">  
    <div class="ctn_box">
      <h2>사랑하는 나의 반려묘<br />똑똑한 집사들을 위한 공간</h2>
      <p>건강한 반려모를 위한 사료 정보 제공을 위해 준비 중입니다.</p>
      <p>Coming Soon :)</p>
      <% if current_user && current_user.admin %>
        <a href="/jibsas">#블로그</a><br>
        <a href="/posts">#고양이 굿즈 스토어</a><br>
        <a href="/hubs/for_catfeed_store">#고양이 사료 스토어</a><br>
      <% end %>
    </div>
  </div>

  <% if current_user && current_user.admin %>
    <div class="index_right">
      
        <div class="index_wrap show_index">
          
          <%= render '/posts/header' %>
            
          <div class="show_card clearfix">

            <div class="image_box">
              <img src="<%= @jibsa.j_image %>" alt="<%= @jibsa.j_title %>" title="<%= @jibsa.j_title %>" />
            </div>
        
            <div class="inner_section">
              <div class="inner clearfix">
                
                <em><%= render 'jibsas/codes_brand' %>/ 
                  <p class="feeding_age"><% if @jibsa.j_option_02 == 201 %>
                      <span>키튼(1세 미만)</span>
                    <% elsif @jibsa.j_option_02 == 202 %>
                      <span>어덜트(1세 ~ 7세)</span>
                    <% elsif @jibsa.j_option_02 == 203 %>
                      <span>시니어(7세 이상)</span>
                    <% elsif @jibsa.j_option_02 == 204 %>
                      <span>전연령용</span>
                    <% end %>
                  </p>
                </em>                
                <h2><%= @jibsa.j_title %></h2>
                
                
                <p class="hashtag"><%= render_with_jhashtags(@jibsa.j_hashtag) %></p>
            

                <%= render 'jibsas/new_detail' %>
              </div>

              <div class="btn menu clearfix">
                <div class="menu-inner">
                  <button class="menu-item" onclick="goBack()">뒤로가기</button>
                  <!-- <a href="/" class="menu-item">뒤로가기</a> -->
                  <a target="_blank" href="<%= @jibsa.j_link %>" class="menu-item active">사러가기</a>
                   <div class="sale_cat">
                     <img src="<%=asset_path 'dont_go.png'%>" alt="세일알림이 냥이">
                   </div>
                </div>
                <script>
                  function goBack() {
                    window.history.back();
                  }
                </script>
              </div>
          </div><!-- inner -->
        
        </div><!-- show card -->
        <div class="notice clearfix">
          <ul>
            <li>가격과 평점이 다른가요? <a href="/hubs/about_us">[자세히 보기]</a></li>
            <% if @jibsa.j_source.present? %>
              <li>"JellyJellyJellyJelly"는 이 상품 판매의 당사자가 아닙니다.</li>
            <% else %>
              <li>"JellyJellyJellyJelly"는 이 상품 판매의 당사자가 아니며 쿠팡 파트너스 활동을 통해 일정의 수수료를 지급받아요.</li>
            <% end %>
            <% if current_user && current_user.admin %>
              <div class="admin_controller">
                <li><%= link_to 'Edit', edit_jibsa_path(@jibsa) %>| <%= link_to 'Destroy', @jibsa, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </div>
            <% end %>
          </ul>
        </div>
        <% if current_user && current_user.admin %>
            <%= render 'jibsas/filter' %>
            <% end %> 
        </div><!-- show_wrap -->

      <%= javascript_pack_tag 'search_modal' %>
    </div>
  <% end %>
  
</div>


