<div class="index_box clearfix">
  <div class="index_left">  
    <div class="ctn_box">
      <h2>사랑하는 나의 반려묘<br />똑똑한 집사들을 위한 공간</h2>
      <p>건강한 반려모를 위한 &nbsp; 사료 정보를 제공합니다.</p>
      <% if current_user && current_user.admin %>
        <a href="/jibsas">#블로그</a><br>
        <a href="/posts">#고양이 굿즈 스토어</a><br>
        <a href="/hubs/for_catfeed_store">#고양이 사료 스토어</a>
      <% end %>
    </div>
  </div>

  <div class="index_right">
    <div class="index_wrap">
      <%= render '/posts/header' %>

      <section class="search search_pc">
        <div class="search-inner">
            <button class="search-button">
              <img src="<%=asset_path 'search.png'%>" alt="냥이굿즈 찾기">
            </button>
            <%= form_for "",url: feeds_path, role: "search", method: :get do %>
              <%= text_field_tag :search, @search_term, placeholder: "사료 정보 검색...", class: 'search-input' %>
            <% end %> 
          </div>
       </section>      
      
      <%= render '/jibsas/navigation' %>




      <div class="feed_wrap">
        <div class="category row">
          
          <a href="#0" class="cd-popup-trigger">우리집 냥이 사료 찾기</a>

          <div class="cd-popup" role="alert">
            <div class="cd-popup-container">

              <div class="option_wrap">
                  <div class="close_btn"><a href="#0" class="cd-popup-close">X</a></div>
                  <ul class="category__nav">

                    <div class="category_box clearfix">
                      <h4>사료 Type</h4>
                      <li><a data-target="dry" href="#">건식 사료</a></li>
                      <li><a data-target="wet" href="#">습식 사료</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>급여대상</h4>
                      <li><a data-target="kitten" href="#">키튼(1세 미만)</a></li>
                      <li><a data-target="adult" href="#">어덜트(1세 ~ 7세)</a></li>
                      <li><a data-target="senior" href="#">시니어(7세 이상)</a></li>
                      <li><a data-target="allage" href="#">전연령용</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>상태</h4>
                      <li><a data-target="pregnancy" href="#">임신&출산산&수유중</a></li>
                      <li><a data-target="operation" href="#">중성화 수술</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>효과</h4>
                      <li><a data-target="immune" href="#">면연력</a></li>
                      <li><a data-target="hairball" href="#">헤어볼</a></li>
                      <li><a data-target="diet" href="#">체중관리</a></li>
                      <li><a data-target="digestion" href="#">소화기능&변냄새</a></li>
                      <li><a data-target="skin" href="#">피부&모질 개선</a></li>
                      <li><a data-target="bone" href="#">뼈&관절 건강</a></li>
                      <li><a data-target="oral" href="#">치석&구강</a></li>
                      <li><a data-target="eyes" href="#">눈물&눈건강</a></li>
                      <li><a data-target="urinary" href="#">비뇨계</a></li>
                      <li><a data-target="kidney" href="#">신장&심부전</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>알레르기</h4>
                      <li><a data-target="lid" href="#">LID</a></li>
                      <li><a data-target="hydrolysis" href="#">가수분해단백질</a></li>
                      <li><a data-target="grainfree" href="#">그레인프리</a></li>
                      <li><a data-target="glutenfree" href="#">글루텐프리</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>제1주 원료</h4>
                      <li><a data-target="beef" href="#">소</a></li>
                      <li><a data-target="pork" href="#">돼지</a></li>
                      <li><a data-target="chicken" href="#">닭</a></li>
                      <li><a data-target="duck" href="#">오리</a></li>
                      <li><a data-target="lamb" href="#">양</a></li>
                      <li><a data-target="fish" href="#">생선</a></li>
                      <li><a data-target="turkey" href="#">칠면조</a></li>
                      <li><a data-target="venison" href="#">사슴</a></li>
                      <li><a data-target="탈수가금육" href="#">탈수가금육</a></li>
                      <li><a data-target="grain" href="#">곡물</a></li>
                      <li><a data-target="vegetable" href="#">과일&야채</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>제조 국가</h4>
                      <li><a data-target="korea" href="#">한국</a></li>
                      <li><a data-target="usa" href="#">미국</a></li>
                      <li><a data-target="canada" href="#">캐나다</a></li>
                      <li><a data-target="germany" href="#">독일</a></li>
                    </div>

                    <div class="category_box clearfix">
                      <h4>브랜드</h4>
                      <li><a data-target="로얄캐닌" href="#">로얄캐닌</a></li>
                      <li><a data-target="캐츠랑" href="#">캐츠랑</a></li>
                      <li><a data-target="ANF" href="#">ANF</a></li>
                      <li><a data-target="뉴트리나" href="#">뉴트리나</a></li>
                      <li><a data-target="이즈칸" href="#">이즈칸</a></li>
                      <li><a data-target="네츄럴코어" href="#">네츄럴코어</a></li>
                      <li><a data-target="위스카스" href="#">위스카스</a></li>
                      <li><a data-target="퓨리나" href="#">퓨리나</a></li>
                      <li><a data-target="프로베스트" href="#">프로베스트</a></li>
                      <li><a data-target="오리젠" href="#">오리젠</a></li>
                      <li><a data-target="네추럴밸런스" href="#">네추럴밸런스</a></li>
                      <li><a data-target="나우프레쉬" href="#">나우프레쉬</a></li>
                      <li><a data-target="대한사료" href="#">대한사료</a></li>
                      <li><a data-target="웰츠" href="#">웰츠</a></li>
                      <li><a data-target="뉴트리웰" href="#">뉴트리웰</a></li>
                      <li><a data-target="퓨어비타" href="#">퓨어비타</a></li>
                      <li><a data-target="한끼뚝딱" href="#">한끼뚝딱</a></li>
                      <li><a data-target="세라피드" href="#">세라피드</a></li>
                      <li><a data-target="뉴트리플랜" href="#">뉴트리플랜</a></li>
                      <li><a data-target="사조동아원" href="#">사조동아원</a></li>
                      <li><a data-target="후새" href="#">후새</a></li>
                      <li><a data-target="원더캐츠" href="#">원더캐츠</a></li>
                      <li><a data-target="헤일로" href="#">헤일로</a></li>
                      <li><a data-target="프리스키" href="#">프리스키</a></li>
                      <li><a data-target="트로벳" href="#">트로벳</a></li>
                      <li><a data-target="탐사" href="#">탐사</a></li>
                      <li><a data-target="위시본" href="#">위시본</a></li>
                      <li><a data-target="웰니스" href="#">웰니스</a></li>
                      <li><a data-target="치킨수프" href="#">치킨수프 클래식</a></li>
                      <li><a data-target="슈슈" href="#">슈슈</a></li>
                      <li><a data-target="올가밀" href="#">올가밀 캣35</a></li>
                      <li><a data-target="마즈" href="#">마즈</a></li>
                      <li><a data-target="어스본홀리스틱" href="#">어스본홀리스틱</a></li>
                      <li><a data-target="이퀼리브리오" href="#">이퀼리브리오</a></li>
                      <li><a data-target="뉴웨이브" href="#">뉴웨이브</a></li>
                      <li><a data-target="아카나" href="#">아카나</a></li>
                      <li><a data-target="풀무원" href="#">풀무원</a></li>
                      <li><a data-target="풀무원아미오" href="#">풀무원 아미오</a></li>
                      <li><a data-target="밥이보약" href="#">밥이보약</a></li>
                      <li><a data-target="하림더리얼" href="#">하림더리얼</a></li>
                      <li><a data-target="캣츠맘" href="#">캣츠맘</a></li>
                      <li><a data-target="네츄럴랩" href="#">네츄럴랩</a></li>
                    </div>

                  </ul>
                  <div class="find_btn"><a href="#0" class="cd-popup-close">찾기</a></div>

              </div>

              
            </div> <!-- cd-popup-container -->
          </div> <!-- cd-popup -->

          <div class="col-xs-12 category-flex clearfix" style="padding: 0">

              <% @jibsas.each do |jibsa| %>
                <div data-target="<%= jibsa.j_spare_31 %>" class="cableItem">
                  <div class="card_box filter_box">
                    <div class="image_box">
                      <%= link_to image_tag(jibsa.j_image, alt: jibsa.j_title, title: jibsa.j_title), jibsa %>
                    </div>
                    <div class="inner">
                      <% if current_user && current_user.admin %>
                        <div class="admin_controller">
                          <span><%= link_to 'Edit', edit_jibsa_path(jibsa) %></span>
                          <span><%= link_to 'Destroy', jibsa, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                          <span>Views: <%= jibsa.hits %></span>
                        </div>
                      <% end %>
                      <p class="p_title"><%= link_to jibsa.j_title, jibsa %></p>
                      <% goods_pct = 0 %>
                      <% goods_pct =  (jibsa.j_was_price.to_f - jibsa.j_is_price.to_f) / jibsa.j_was_price.to_f * 100 %>
                      <p class="p_price"><span><%= number_to_currency(jibsa.j_is_price, locale: :kr) %>원</span></p>
                      <% if jibsa.j_was_price.present? %>
                        <em class="was_price"><%= number_to_currency(jibsa.j_was_price, locale: :kr) %>원</em>
                        <em class="pct"> ( <%= number_to_percentage(goods_pct, precision: 0) %> off )</em>
                      <% end %>
                    </div>

                    <% if jibsa.j_was_price.present? %>
                      <div class="sale_cat">
                        <img src="<%=asset_path 'sale.png'%>" alt="세일알림이 냥이">
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <!-- <a href="#" data-target="metal, standart" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/dps.png)"></div>
                  <p class="cableItem__title">Standard metal</p>
              </a>
              <a href="#" data-target="metal, standart, reinforced" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/dps2.png)"></div>
                  <p class="cableItem__title">Standard reinforced metal</p>
              </a>
              <a href="#" data-target="metal, superlight" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/tos.png)"></div>
                  <p class="cableItem__title">Superlight metal</p>
              </a>
              <a href="#" data-target="metal, superlight, reinforced" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/tos2.png)"></div>
                  <p class="cableItem__title">Superlight reinforced metal</p>
              </a>
              <a href="#" data-target="metal, special" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/tsos.png)"></div>
                  <p class="cableItem__title">Special metal</p>
              </a>
              <a href="#" data-target="metal, special" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/das.png)"></div>
                  <p class="cableItem__title">Special metal</p>
              </a>
              <a href="#" data-target="metal, special, reinforced" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/das2.png)"></div>
                  <p class="cableItem__title">Special reinforced metal</p>
              </a>
              <a href="#" data-target="dielectric, standart" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/dpd.png)"></div>
                  <p class="cableItem__title">Standart dielectric</p>
              </a>
              <a href="#" data-target="dielectric, standart, reinforced" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/dpd2.png)"></div>
                  <p class="cableItem__title">Standard reinforced dielectric</p>
              </a>
              <a href="#" data-target="dielectric, superlight" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/01/tod.png)"></div>
                  <p class="cableItem__title">Superlight dielectric</p>
              </a>
              <a href="#" data-target="dielectric, superlight, reinforced" class="cableItem">
                  <div class="cableItem__img" style="background-image: url(http://new.incab.ru/wp-content/uploads/2018/02/tod2.png)"></div>
                  <p class="cableItem__title">Superlight reinforced dielectric</p>
              </a> -->

          </div>
        </div>

      </div>
      <%= raw pagy_nav(@pagy) %>
    </div>

  </div><!-- end index_right -->
</div>
<%= javascript_pack_tag 'search_modal' %>
<%= javascript_pack_tag 'feeds' %>

<script type="text/javascript">
  jQuery(document).ready(function($){
  //open popup
  $('.cd-popup-trigger').on('click', function(event){
    event.preventDefault();
    $('.cd-popup').addClass('is-visible');
  });
  
  //close popup
  $('.cd-popup').on('click', function(event){
    if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
      event.preventDefault();
      $(this).removeClass('is-visible');
    }
  });
  //close popup when clicking the esc keyboard button
  $(document).keyup(function(event){
      if(event.which=='27'){
        $('.cd-popup').removeClass('is-visible');
      }
    });
  });
</script>

