<div class="wrap">
  <div class="index_wrap">
    <section class="title">
      <h1>Random View</h1>
    </section>

    <section class="productlists clearfix">

      <% @posts_random.each do |post| %> 
        <div class="card_box">
          <div class="image_box">
            <%= link_to image_tag(post.image, alt: post.title, title: post.title), post %>
          </div>
          <div class="inner">
            
            <!--
            <% if post.source.present? %>
              <em>by <%= post.source %></em>
            <% else %>
              <em>by 쿠팡</em>
            <% end %>
            -->
            <% if current_user && current_user.admin %>
              <div class="admin_controller">
                <span><%= link_to 'Edit', edit_post_path(post) %></span>
                <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                <span>Views: <%= post.hits %></span>
              </div>
            <% end %>
            <p class="p_title"><%= link_to post.title, post %></p>
            <% goods_pct = 0 %>
            <% goods_pct =  (post.was_price.to_f - post.is_price.to_f) / post.was_price.to_f * 100 %>
            <p class="p_price"><span><%= number_to_currency(post.is_price, locale: :kr) %>원</span></p>
            <% if post.was_price.present? %>
              <em class="was_price"><%= number_to_currency(post.was_price, locale: :kr) %>원</em>
              <em class="pct"> ( <%= number_to_percentage(goods_pct, precision: 0) %> off )</em>
            <% end %>
          </div>

          <% if post.was_price.present? %>
            <div class="sale_cat">
              <img src="<%=asset_path 'sale.png'%>" alt="세일알림이 냥이">
            </div>
          <% end %>

        </div>
      <% end %>

    </section>
    
  </div>
</div>