<div class="wrap">
  <div class="index_wrap">
    <%= render '/posts/header' %>
  
    <%= render '/posts/navigation' %>
  
    <section class="title">
      <div class="hashtag_indicator">
        <% if params[:name].present? %>
          <span>#<%= params[:name] %></span>
        <% end %>
      </div>
    </section>
   
    <%= render 'posts/index_section' %>
    <%= raw pagy_nav(@pagy) %>
    
  </div>
</div>

<%= javascript_pack_tag 'search_modal' %>


