<div class="wrap">
  <div class="index_wrap">
    <%= render '/posts/header' %>
  
    <%= render '/posts/navigation' %>
  
    <section class="title">
      <div class="hero">
        <div class="hero-overlay">
          <h1>Bubbles</h1>
        </div>
        <img src="<%=asset_path 'cat_hero.png'%>"" alt="bubbles from surf" class="hero-image">
      </div>
      <h1>Gift for cat lover</h1>
      <p>고양이를 좋아하는 사람들을 위한 선물 아이디어!!</p>
    </section>

   
    <section class="productlists clearfix">

      <% @posts.each do |post| %>
      <div class="card_box">
        <div class="image_box">
          <%= link_to image_tag(post.image, alt: post.title, title: post.title), post %>
        </div>
        <div class="inner">
          <% if post.source.present? %>
            <em>by <%= post.source %></em>
          <% else %>
            <em>by 쿠팡</em>
          <% end %>
          <% if current_user && current_user.admin %>
            <div class="admin_controller">
              <span><%= link_to 'Edit', edit_post_path(post) %></span>
              <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>
          <% end %>
          <p class="p_title"><%= link_to post.title, post %></p>
          <p class="p_price"><span><%= number_to_currency(post.is_price, locale: :kr) %>원</span></p>
        </div>
      </div>
      <% end %>

    </section>

    <%= raw pagy_nav(@pagy) %>
    
  </div>
</div>

<%= javascript_pack_tag 'search_modal' %>
