<div class="wrap">
  <div class="index_wrap">
    <%= render '/posts/header' %>
  
    <%= render '/posts/navigation' %>
  
    <section class="title">
      <div class="hero">
        <div class="hero-overlay">
          <h1>Bubbles</h1>
        </div>
        <img src="<%=asset_path 'cat_hero.png'%>"" alt="gift for cat lover" class="hero-image">
      </div>
      <h1>Gift for cat lover</h1>
      <p>고양이를 좋아하는 사람들을 위한 선물 아이디어!!</p>
    </section>

   
    <%= render 'posts/index_section' %>
    <%= raw pagy_nav(@pagy) %>
    
  </div>
</div>

<%= javascript_pack_tag 'search_modal' %>
