<div class="wrap">
  <div class="index_wrap">
    <%= render '/posts/header' %>
  
    <%= render '/posts/navigation' %>
  
    <section class="title">
      <div class="hero">
        <div class="hero-overlay">
          <h1>Bubbles</h1>
        </div>
        <img src="<%=asset_path 'hero.jpg'%>"" alt="bubbles from surf" class="hero-image">
      </div>
      <h1>Gift for cat lover</h1>
      <p>고양이를 좋아하는 사람들을 위한 선물 아이디어!!</p>
    </section>

   
    <section class="productlists clearfix">

      <% @posts.each do |post| %>
      <div class="card_box">
        <div class="image_box">
          <a href="/posts/<%= post.id %>"><img src="<%= post.image %>" alt="<%= post.title %>" title="<%= post.title %>" /></a>
        </div>
        <div class="inner">
          <em>by <%= post.source %></em>
          <% if current_user && current_user.admin %>
            <div class="admin_controller">
              <span><%= link_to 'Edit', edit_post_path(post) %></span>
              <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>
          <% end %>
          <p class="p_title"><%= link_to post.title, post %></p>
          <p><span><%= number_to_currency(post.is_price, locale: :kr) %>원</span></p>
        </div>
      </div>
      <% end %>

    </section>


  </div>
</div>

<%= javascript_pack_tag 'search_modal' %>

<script type="text/javascript">
  var marker = document.querySelector('#marker');
    var item = document.querySelectorAll('nav a');
    
    
    function indicator(e) {
      marker.style.left = e.offsetLeft + 'px';
      marker.style.width = e.offsetWidth + 'px';
    }
    
    item.forEach(link => {
      link.addEventListener("click", (e) => { 
        indicator(e.target);      
      })
    })

</script>

