<div class="wrap"> 
    <div class="index_wrap show_index">
      <div class="show_header_m">
        <%= render '/posts/header_show' %>
      </div>

      <nav class="navigation show_nav">
        <div class="dummy-viewport">
          <div class="horizontal-menu">
            <ul class="horizontal-menu-items">
              <li class="horizontal-menu-item"><a href="/" class="horizontal-menu-link">Home</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/electronics" class="navigation-item">Electronics</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/cellphone_accessories" class="navigation-item">Cellphone accessories</a
                ></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/computer_accessories" class="navigation-item">Computer accessories</a
                ></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/living" class="navigation-item">Living</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/kitchen" class="navigation-item">Kitchen</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/fashion" class="navigation-item">Fashion</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/bath" class="navigation-item">Bath</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/ofiice" class="navigation-item">Ofiice</a></li>
              <li class="horizontal-menu-item"><a href="/posts/hashtag/for_fun" class="navigation-item">For_fun</a></li>
              <li class="horizontal-menu-item"><a href="/hubs/about_us" class="navigation-item">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="show_card clearfix">

        <div class="image_box">
          <img src="<%= @post.image %>" alt="<%= @post.title %>" title="<%= @post.title %>" />
        </div>
    
        <div class="inner_section">
          <div class="inner clearfix">
            <% if current_user && current_user.admin %><a class="back" href="/">Back</a><% end%>
            <% if @post.source.present? %>
              <em>by <%= @post.source %><span></span></em>
            <% else %>
              <em>
                by 쿠팡
              </em>
            <% end %>
            <h2><%= @post.title %></h2>

          <!--   <div class="star_rating">
              <% if @post.review_count.present? %>
                <% if @post.star_4_5.present? %>
                  <img class="star_4_5" src="<%=asset_path 'star_45.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.star_4.present? %>
                  <img class="star_4" src="<%=asset_path 'star_4.png' %>" alt="벌점 4" />
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.star_3_5.present? %>
                  <img class="star_3_5" src="<%=asset_path 'star_35.png' %>" alt="벌점3.5" />
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.star_3.present? %>
                  <img class="star_3" src="<%=asset_path 'star_3.png' %>" alt="벌점 3" />
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif %>
                  <img class="star_5" src="<%=asset_path 'star_5.png' %>" alt="벌점 5" />
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% end %>
              <% end %>
            </div> -->

           <% if @post.review_count.present? %>
             <div class="star_rating">
                <% if @post.spare_56 == 50 %>
                  <img class="star_4_5" src="<%=asset_path 'star_5.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.spare_56 == 45 %>
                  <img class="star_4_5" src="<%=asset_path 'star_45.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.spare_56 == 40 %>
                  <img class="star_4_5" src="<%=asset_path 'star_4.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.spare_56 == 35 %>
                  <img class="star_4_5" src="<%=asset_path 'star_35.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% elsif @post.spare_56 == 30 %>
                  <img class="star_4_5" src="<%=asset_path 'star_3.png' %>" alt="벌점4.5"/>
                  <em><%= @post.review_count %>+ 개의 상품평</em>
                <% end %>
              </div>
            <% else %>
            <% end %>


            <% goods_pct = 0 %>
            <% goods_pct =  (@post.was_price.to_f - @post.is_price.to_f) / @post.was_price.to_f * 100 %>
            <p class="is_price"><%= number_to_currency(@post.is_price, locale: :kr) %>원</p>
            <% if @post.was_price.present? %>
              <em class="was_price"><%= number_to_currency(@post.was_price, locale: :kr) %>원</em>
              <em class="pct"> ( <%= number_to_percentage(goods_pct, precision: 0) %> off )</em>
            <% end %>
            <p class="hashtag"><%= render_with_hashtags(@post.hashtag) %></p>
          </div>

          <div class="btn menu clearfix">
            <div class="menu-inner">
              <button class="menu-item" onclick="goBack()">뒤로가기</button>
              <!-- <a href="/" class="menu-item">뒤로가기</a> -->
              <a target="_blank" href="<%= @post.link %>" class="menu-item active">사러가기</a>
              <% if @post.was_price.present? %>
               <div class="sale_cat">
                 <img src="<%=asset_path 'dont_go.png'%>" alt="세일알림이 냥이">
               </div>
              <% end %>
            </div>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          </div>
      </div><!-- inner -->
    
    </div><!-- show card -->
    <div class="notice clearfix">
        <ul>
          <li>가격과 평점이 다른가요? <a href="/hubs/about_us">[자세히 보기]</a></li>
          <li>"JellyJellyJellyJelly"는 이 상품 판매의 당사자가 아니며 쿠팡 파트너스 활동을 통해 일정의 수수료를 지급받아요.</li>
          <% if current_user && current_user.admin %>
            <div class="admin_controller">
              <li><%= link_to 'Edit', edit_post_path(@post) %>| <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </div>
          <% end %>
        </ul>
      </div>
  </div><!-- show_wrap -->
</div><!-- wrap -->

<%= javascript_pack_tag 'search_modal' %>

