<!DOCTYPE html>
<html>
  <head>
    <title>JellyJellyJellyJelly</title>
    <meta name="description" content="JellyJellyJellyJelly">
    <meta charset="utf-8"/>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="">
    <meta name="naver-site-verification" content="8395643713057ff357831d520525218faba27b9d" />
    <link rel="canonical" href="https://www.jellyJellyJellyJelly.com">
    <meta property="og:title" content="JellyJellyJellyJelly">
    <meta property="og:description" content="JellyJellyJellyJelly">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  
    <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>-->
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
